.contact-item-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 100%;
}

.contact-item-titles {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.avatar {
  margin-left: -6px;
  margin-right: 13px;
}
