@import '../../common.scss';

.label {
	margin-bottom: 6px;
  width:100%;
}

.inputs {
  display:flex;
  align-items: center;
  background: $B50;
  box-sizing: border-box;
  border-radius: 6px;
  border:solid 1px $B30;

  >div:first-child {
    flex-grow: 1;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:solid 1px $B30;
    border-bottom-right-radius:0;
    border-top-right-radius: 0;

  }

  &.disabled {
    >div:first-child {
      border-right:solid 1px $GR20;
    }
  }
  >div:last-child {
    padding: 6px 12px;
  }

  >div:last-child {
    padding: 6px 12px;
  }

  &.dropdown {
    background:$D80;

    >div:last-child {
      padding: 0;
    }
  }
}

.focused {
  border:solid #6eb7fd 1px;
}

.error {
  border:solid $R10 1px;
}

.disabled {
  border:solid 1px $GR20;
  background: $D70;
}
