@import '../../src/common.scss';

.styleList {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 20px;

    + li h3 {
      margin-top: 2.5rem;
    }
  }

  code {
    background-color: rgba(0,0,0,0.05);
    color: $D10;
  }
}

.comp {
  width: 300px;
  display: inline-block;
  font-size: 18px;
}

.fonts {
  width: 700px;
  display: inline-block;
}
