@import '../../colors.scss';

$focusBoxShadowWidth: 3px;
$focusBoxShadow: 0 0 0 $focusBoxShadowWidth $F00;
$focusBoxErrorShadow: 0 0 0 $focusBoxShadowWidth $R30;

@mixin FocusBox($borderColor: $B10, $boxShadow: $focusBoxShadow) {
	outline: none;
	border-color: $borderColor;
	box-shadow: $boxShadow;
}

@mixin FocusBoxError($borderColor: $R10, $boxShadow: $focusBoxErrorShadow) {
	outline: none;
	border-color: $borderColor;
	box-shadow: $boxShadow;
}
