@mixin FocusBox($borderColor: $B10, $boxShadow: 0 0 0 3px $F00) {
	outline: none;
	border-color: $borderColor;
	box-shadow: $boxShadow;
}

@mixin FocusBoxError($borderColor: $R10, $boxShadow: 0 0 0 3px $R30) {
	outline: none;
	border-color: $borderColor;
	box-shadow: $boxShadow;
}
