@mixin BoxSizing($boxSizing: border-box) {
    box-sizing: $boxSizing;
    * { box-sizing: $boxSizing; }
}

@mixin ThemeDefault($borderColor, $backgroundColor, $color) {
    border-color: $borderColor;
    background-color: $backgroundColor;
    color: $color;
    .inputArea { color: $color; }
}

@mixin ThemeHover($backgroundColor) {
    &:hover    { background-color: $backgroundColor; }
    &.hasHover { background-color: $backgroundColor; }
}

@mixin ThemeFocus {
    &.hasFocus {
        @include FocusBox;
        background-color: transparent;

        &.hasError {
            @include FocusBoxError
        }
    }
}

@mixin ThemeFocusPanelTile($borderColor, $boxShadow: none) {
    &.hasFocus {
        border-color: $borderColor;
        box-shadow: $boxShadow;
    }
}

@mixin ThemeError($borderColor, $boxShadow: none) {
    &.hasError {
        border-color: $borderColor;
        box-shadow: $boxShadow;
    }
}

@mixin Selection($color) {
    &::selection      { background: $color; }
    &::-moz-selection { background: $color; }
}

@mixin Placeholder($color) {
    &::-webkit-input-placeholder { color: $color; }
    &:-moz-placeholder           { color: $color; }
    &::-moz-placeholder          { color: $color; }
    &:-ms-input-placeholder      { color: $color; }
}
