.option {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > * {
    margin-top: 5px;
  }
}

.form {
  display: flex;
  padding: 20px;
}

.auto-complete { width: 45%; }
.output { width: 45%; }

.small-input {
  width: 50px;
}
