@import '../../src/common.scss';

.option {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form {
  display: flex;
  align-items: top;
  padding: 20px;
}

.input { width: 45%; }
.output { width: 45%; }

.example-wrapper {
	padding: 20px;
}

.onWhiteBackground {
	background: $D80;
}

.onGrayBackground {
	background: $D70;
}

.onDarkBackground {
	background: $D10;
}
