@import '~draft-js/dist/Draft';

@import '../common';
@import '../typography-helpers';

$minWidth: 378px;
$minHeight: 132px;
$backgroundColor: $D80;
$border: 1px solid $B30;
$borderRadius: 6px;
$padding: 12px;

.root {
  min-height: $minHeight;
  min-width: $minWidth;
  background-color: $backgroundColor;
  border-radius: $borderRadius;

  :global(.public-DraftEditorPlaceholder-root) {
    @include Text($weight: normal, $size: medium, $light: true, $secondary: true);

    padding: $padding;
    position: absolute;
    pointer-events: none;
  }

  :global(.public-DraftEditor-content) { 
    background-color: $backgroundColor;
    min-height: $minHeight;
    max-height: var(--max-height);
    padding: $padding;
    border: $border;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    overflow: auto;

    @include Text($weight: thin, $size: medium);

    &:hover {
      background-color: $B50;
      cursor: pointer;
    }

    &:focus {
      background-color: $D80;
      cursor: text;
      border-color: $B10;
      box-shadow: 0 0 0 3px $F00;
    }
  }
}

.disabled {
  $color: $D55;
  $borderColor: $D60;

  .toolbar {
    border-color: $borderColor;
  }

  :global(.public-DraftEditorPlaceholder-root) {
    color: $D55;
  }

  :global(.public-DraftEditor-content) {
    color: $D55;
    border-color: $borderColor;

    &:hover {
      background-color: $backgroundColor;
      cursor: default;
    }
  }

  .link {
    color: $D55;
  }
}

.hidePlaceholder {
  :global(.public-DraftEditorPlaceholder-root) {
    display: none;
  }
}

.toolbar {
  border: $border;
  border-bottom: 0;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.link {
  @include Text($weight: thin, $size: medium, $link: true);

  text-decoration: none;
}