:import {
  -st-from: "../Text/Text.st.css";
  -st-default: Text;
}

.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  position: relative;
}

.popoverMenu Text {
  white-space: nowrap;
}

.hoverSlot > button {
  margin: 0 6px;
  transition-property: background, border;
}

.hoverSlot.onHover {}
.hoverSlot.notOnHover {}
.placeholderIcon {}

:global(.rtl) .placeholderIcon svg {
  transform: scaleX(-1);
}
:global([dir='rtl']) .placeholderIcon svg {
  transform: scaleX(-1);
}
