@import '../../common.scss';

.label {
	margin-bottom: 6px;
}

.required {
	position: relative;

	&:before {
		position: absolute;
		top: 2px;
		left: -17px;
		content: '*';
		font-size: 32px;
		line-height: 32px;
		color: $R10;
	}
}
