@import '../../common.scss';

.custom {
    @include FontLight();
    display: flex;
    justify-content: center;
    align-items: center;
    color: $D40;
    &.pad-right {
        padding-right: 6px;
    }
    &.pad-left {
        padding-left: 6px;
    }
}