.option {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-wrapper {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > * {
    margin-top: 5px;
  }
}

.form {
  display: flex;
  padding: 20px;
}

.input {
  width: 45%;
}

.label-margin{
  margin-right: 6px;
}

.left-label{
  margin-right: 16px;
}

.output {
  width: 12.8%;
}

.small-input {
  width: 50px;
}
