.root {
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;

  > * {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;

    &.ratioHolder {
      pointer-events: none;
    }

    &.contentWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
