@import "../common.scss";

:global(.slider-handle) {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px rgba(0,0,0,0.05);
    background-color: #fff;
    box-shadow: $Shadow10;

    :global(.slider-handle-inner) {
        border-radius: 50%;
        background-color: #6AA6DA;
        margin-top: 3px;
        margin-left: 3px;
        width: 8px;
        height: 8px;
    }

    :global(.slider-tooltip) {
        position: absolute;
    }

    :global(.slider-tooltip) {
        position: absolute;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 10px 15px;
        bottom: 25px;
        left: -15px;
        box-shadow: $Shadow30;

        &:after {
            $size: 5px;
            position: absolute;
            content: "";
            border-top: $size solid white;
            border-left: $size solid transparent;
            border-right: $size solid transparent;
            bottom: -$size;
            left: calc(50% - 5px);
        }
    }
}

:global(.wix-slider.rtl .slider-handle .slider-handle-inner) {
    margin-right: 3px;
}
