@import '../common.scss';

.bottombar
{
    @include FontRoman;
    position: basolute;
    bottom:0px;
    font-size:14px;
    width:100%;
    text-align:center;
    color:$D80;
    background: rgba($D30, 0.42);
    height:54px;
    display:flex;
    flex-direction:columns;
}

.command
{
    flex: 1;
    height:54px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
:global(.rtl) .command { border-right: 1px solid $D20; } 
:global(.ltr) .command { border-left: 1px solid $D20; }

.command:first-child
{
    border: none;
}

.command:hover
{
    background-color: $D30;
}
