@import '../common.scss';

.title, .grouptitle
{
    @include FontRoman;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 48px;
    color: $D60;
}
:global(.ltr) .title, :global(.ltr) .grouptitle { padding-left: 24px; }
:global(.rtl) .title, :global(.rtl) .grouptitle { padding-right: 24px; }

.group
{
    background-color: rgba($D10, 0.4);
}

.groupitems
{
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden; position:relative;
}

.groupitems .title
{
    position:relative;
    height:24px;
    padding-bottom: 18px;
}
:global(.rtl) .groupitems .title { padding-right: 24px; margin-right: 24px; }
:global(.ltr) .groupitems .title { padding-left: 24px; margin-left: 24px}

.groupitems .title:before
{
    content: "";
    background: rgba($D80, 0.10);
    width: 2px;
    top: 0;
    bottom: 0;
    height: 42px;
    position: absolute;
}
.groupitems .title:last-child:before {
    height: 24px;
}

:global(.rtl) .groupitems .title:before { right: 0px; }
:global(.ltr) .groupitems .title:before { left: 0px; }

:global(.rtl) .groupmask { right: 24px; }
:global(.ltr) .groupmask { left: 24px; }

.title.selected
{
    color: $R10;
    background-color: rgba($D10, 0.4);
}

.title:hover
{
    color: $paletteR4;
    background-color: rgba($D10, 0.2);
}

.groupitems .title:hover
{
    color: $paletteR4;
    background-color: transparent;
}

.groupitems .title.selected
{
    color: $R10;
    background-color: transparent;
}

.groupmask {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 2px;
    height: 24px;
    background: $R10;
    transition: top .25s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
