.suffix {
  padding: 0 0 0 6px;
  line-height: 0 !important;
}

.prefix {
  padding: 0 6px 0 0;
  line-height: 0 !important;
}

:global(.rtl) .prefix {
  padding: 0 0 0 6px;
  line-height: 0 !important;
}

:global(.rtl) .suffix {
  padding: 0 6px 0 0;
  line-height: 0 !important;
}
