@import '../common.scss';
@import '../common/Focusable/Focusable';

.root {
  display: inline-block;
  outline: none;

  label {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  &#{$focusable-focus-visible} {
    .checkbox {
      @include FocusBox;
    }

    &.hasError {
      .checkbox {
        @include FocusBoxError;
      }
    }
  }

}

.children {
  padding-left: 12px;
}

:global(.rtl) {
  .root {
    direction: rtl;
  }

  .children {
    padding-right: 12px;
  }
}


.checkbox {
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* TODO remove .large in next major version */
.large {
  width: 20px;
  height: 20px;

  .inner {
    width: 18px;
    height: 18px;

    > svg {
      width: 12px;
      height: 12px;
    }
  }
}

.indeterminate .large .inner > svg {
  width: 10px;
  height: 10px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  color: $D80;

  > svg {
    width: 8px;
    height: 8px;
  }
}

/* Checked State */
.checked, .indeterminate {
  .checkbox {
    border: 1px solid $B10;
    background-color: $B10;

    .inner {
      opacity: 1;
    }
  }
}

/* Unchecked State */

.unchecked {
  .checkbox {
    border: 1px solid $B20;
    background-color: $D80;

    .inner {
      opacity: 0;
    }
  }

  &.hover .checkbox, .checkbox:hover {
    background-color: $B50;
  }

  &.active .checkbox, .checkbox:active {
    .inner {
      opacity: 1;
    }
  }
}

.unchecked, .checked {
  &.active .checkbox, .checkbox:active {
    border: 1px solid $B20;
    background-color: $B20;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;

  .checkbox {
    border-color: $GR20;
    background-color: $D70;
  }

  &.checked .checkbox {
    border-color: $D60;

    .inner {
      color: $D55;
    }
  }
}

.hasError .checkbox {
  border-color: $R10;
}
