.option {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form {
  display: flex;
  align-items: top;
  padding: 20px;
}

.input { width: 45%; }

.output { width: 45%; }

.small-input {
  width: 50px;
}

.padd-right {
  margin-right: 10px;
}

.main {
  padding: 0 5px 55px;
  padding-bottom: 300px;
  display: inline;
}

.thumb {
  width: 18px;
  height: 18px;
  background-color: green;
  float: left;
  border-radius: 50%;
}