.main {
  padding: 0 5px 55px;
  padding-bottom: 300px;
  display: inline;
}

.thumb {
  width: 18px;
  height: 18px;
  background-color: green;
  float: left;
  border-radius: 50%;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
