.inverted {
  background-color: #c8c8c8;
  code {
    background: rgba(255, 255, 255, .8);
  }
}


.styleList {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 20px;

    + li h3 {
      margin-top: 2.5rem;
    }
  }

  code {
    background-color: rgba(0,0,0,0.05);
    color: #162d3d;
  }
}
