@import '../common.scss';

$rootPadding: 18px;
$rootBackgroundColor: $D80;
$dayHoverColor: $B50;

@mixin todayBackground($width) {
  box-shadow:
    0 0 0 $width $rootBackgroundColor inset,
    0 0 0 100px $D70 inset;
}

.root {
  display: inline-block;
}

.calendarRoot {
  z-index: 1;
}

:global {
  .DayPicker {
    min-width: 333px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    @include FontLight;
    font-size: 14px;
    line-height: 1.29;
    color: $D40;
    background-color: $D80;
    border-radius: 8px;

    abbr {
      text-decoration: none;
    }

    &-Weekdays {
      background-color: $D80;
      padding: 0 $rootPadding;
    }

    &-WeekdaysRow {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &-Body {
      padding: 0 $rootPadding 18px;
    }

    &-Weekday {
      width: 17px;
      padding: 18px 0 12px;
      color: $D40;
    }

    &-Week {
      display: flex;
      justify-content: space-around;
    }

    &-Day {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      cursor: pointer;

      &:hover:not(&--today):not(&--selected) {
        background-color: $B50;
      }

      &--today:not(&--selected) {
       background-color: $D70;
       color: $D40;
       @include todayBackground(6px);
      }

      &--today.DayPicker-Day--keyboard-selected:not(&--selected) {
        @include todayBackground(3px);
      }

      &--selected {
        background-color: $B10;
        color: $D80;
      }

      &--keyboard-selected:not(&--selected) {
        border: 3px solid #aadbfc;
      }

      &--outside,
      &--disabled {
        pointer-events: none;
        color: $D60;
      }
    }
  }
}

.icon {
  margin: 0 6px;
  color: $B10;
  display: flex;
}
