@import '../common.scss';

$rootPadding: 24px;
$rootBackgroundColor: $D80;
$dayHoverColor: $B50;
$calendarWidth: 300px;
$dayBadgeSize: 36px;
$hoverBoxShadow: 0 0 0 3px $F00;

@mixin todayBackground($width, $shadow: "") {
  box-shadow:
    0 0 0 $width $rootBackgroundColor inset, $shadow;
}

.root {
  display: inline-block;
}

.calendarRoot {
  z-index: 1;
}

:global {
  .DayPicker {
    min-width: $calendarWidth;
    box-shadow: $Shadow30;
    @include FontLight;
    font-size: 14px;
    line-height: 1.29;
    color: $D40;
    background-color: $D80;
    border-radius: 8px;

    abbr {
      text-decoration: none;
    }

    &-Weekdays {
      background-color: $D80;
      padding: 0 $rootPadding;
    }

    &-WeekdaysRow {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &-Body {
      padding: 0 $rootPadding $rootPadding;
    }

    &-Weekday {
      width: 17px;
      padding: 18px 0 12px;
      color: $D40;
    }

    &-Week {
      display: flex;
      justify-content: space-around;
    }

    &-Day {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $dayBadgeSize;
      height: $dayBadgeSize;
      border-radius: 50%;
      cursor: pointer;
      transition: all 100ms linear;

      &:focus {
        outline: none;
        box-shadow: $hoverBoxShadow;
      }

      &--today:not(.DayPicker-Day--selected) {
        background-color: $D70;
        color: $D10;
        @include todayBackground(3px);

        &:focus {
          @include todayBackground(3px, $hoverBoxShadow);
        }
      }

      &:hover {
        background-color: $B50;
      }

      // &--today.DayPicker-Day--keyboard-selected:not(.DayPicker-Day--selected) {
      //   @include todayBackground(3px);
      // }

      &--selected {
        background-color: $B10;
        color: $D80;
        &:hover {
          background-color: $B20;
        }
      }

      // &--keyboard-selected:not(.DayPicker-Day--selected) {
      //   border: 3px solid $F00;
      // }

      &--outside,
      &--disabled {
        pointer-events: none;
        color: $D60;
      }
    }
  }
}

.icon {
  margin: 0 6px;
  color: $B10;
  display: flex;
}
