@import '../common.scss';

$rootPadding: 24px;
$rootBackgroundColor: $D80;
$dayHoverColor: $B50;
$calendarWidth: 300px;
$dayBadgeSize: 36px;
$boxShadowWidth: 3px;
$hoverBoxShadow: 0 0 0 $boxShadowWidth $F00;

@mixin todayShadow($additionalShadow: false) {
  $boxShadow: 0 0 0 $boxShadowWidth $rootBackgroundColor inset;
  @if $additionalShadow {
    box-shadow: $boxShadow, $additionalShadow;
  } @else {
    box-shadow: $boxShadow;
  }
}

.root {
  display: inline-block;
}

.calendarRoot {
  z-index: 1;
}

:global {
  .DayPicker {
    min-width: $calendarWidth;
    box-shadow: $Shadow30;
    @include FontLight;
    font-size: 14px;
    line-height: 1.29;
    color: $D40;
    background-color: $D80;
    border-radius: 8px;

    abbr {
      text-decoration: none;
    }

    &-Weekdays {
      background-color: $D80;
      padding: 0 $rootPadding;
    }

    &-WeekdaysRow {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &-Body {
      padding: 0 $rootPadding $rootPadding;
    }

    &-Weekday {
      width: 17px;
      padding: 18px 0 12px;
      color: $D10;
    }

    &-Week {
      display: flex;
      justify-content: space-around;
    }

    &-Day {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $dayBadgeSize;
      height: $dayBadgeSize;
      border-radius: 50%;
      cursor: pointer;
      transition: all 100ms linear;
      color: $D10;
      z-index: 1;

      &:focus {
        outline: none;
        box-shadow: $hoverBoxShadow;
      }

      &--today:not(.DayPicker-Day--selected) {
        background-color: $D70;
        @include todayShadow();
        z-index: 0;

        &:focus {
          @include todayShadow($hoverBoxShadow);
        }
      }

      &:hover {
        background-color: $B50;
        box-shadow: none;
      }

      &--selected {
        background-color: $B10;
        color: $D80;
        &:hover {
          background-color: $B20;
        }
      }

      &--outside,
      &--disabled {
        pointer-events: none;
        color: $D55;
      }
    }
  }
}

.icon {
  margin: 0 6px;
  color: $B10;
  display: flex;
}
