@import '../common.scss';

$cellMargin: 8px;
$calendarMargin: 15px;

:global {
  @import 'react-datepicker/dist/react-datepicker';
}

.wrapper {
}

:global(.react-datepicker) {
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);
    border: 0;
}
:global(.react-datepicker__header) {
    background-color: $B10;
    border-bottom: 0;
    padding: 0;
}
:global(.react-datepicker__input-container) {
    width: 100%;
}
:global(.react-datepicker__triangle) {
    border-bottom-color: $B10 !important;
}
:global(.react-datepicker__day-names) {
    background-color: #fff;
    padding-top: 20px;
}
:global(.react-datepicker__navigation--previous),
:global(.react-datepicker__navigation--next) {
    background-position-x: 15px;
    background-position-y: 11px;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    top: 11px;
}
:global(.react-datepicker__navigation--previous:hover),
:global(.react-datepicker__navigation--next:hover) {
    background-color: $B00;
}
:global(.react-datepicker__navigation--previous) {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCA4IDE0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiA8IS0tIEdlbmVyYXRvcjogc2tldGNodG9vbCA0MS4yICgzNTM5NykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+IDx0aXRsZT43OTFBRUVDMi0zRThGLTQ2NkQtODQ2Ri02OEFCQUZGQThBMjc8L3RpdGxlPiA8ZGVzYz5DcmVhdGVkIHdpdGggc2tldGNodG9vbC48L2Rlc2M+IDxkZWZzPjwvZGVmcz4gPGcgaWQ9IlN0eWxlZ3VpZGVzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gPGcgaWQ9IkNhbGVuZGFyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOTIuMDAwMDAwLCAtMjU3LjAwMDAwMCkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2U9IiNGRkZGRkYiPiA8ZyBpZD0iRGF0ZS1QaWNrZXItLy1TaW5nbGUtQ29tcGxleC0xIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3Mi4wMDAwMDAsIDIyMi4wMDAwMDApIj4gPHBvbHlsaW5lIGlkPSJhcnJvdy1sZWZ0IiBwb2ludHM9IjI3IDM2IDIxIDQyIDI3IDQ4Ij48L3BvbHlsaW5lPiA8L2c+IDwvZz4gPC9nPiA8L3N2Zz4=');
    background-position-x: 13px;
}
:global(.react-datepicker__navigation--next) {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCA4IDE0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiA8IS0tIEdlbmVyYXRvcjogc2tldGNodG9vbCA0MS4yICgzNTM5NykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+IDx0aXRsZT43ODQxOUY4RC0zMUY2LTQxMjktOTc1RC05MDdCNjQ0QjRBMEI8L3RpdGxlPiA8ZGVzYz5DcmVhdGVkIHdpdGggc2tldGNodG9vbC48L2Rlc2M+IDxkZWZzPjwvZGVmcz4gPGcgaWQ9IlN0eWxlZ3VpZGVzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gPGcgaWQ9IkNhbGVuZGFyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzcxLjAwMDAwMCwgLTI1Ny4wMDAwMDApIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlPSIjRkZGRkZGIj4gPGcgaWQ9IkRhdGUtUGlja2VyLS8tU2luZ2xlLUNvbXBsZXgtMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIuMDAwMDAwLCAyMjIuMDAwMDAwKSI+IDxwb2x5bGluZSBpZD0iYXJyb3ctcmlnaHQiIHBvaW50cz0iMzAwIDM2IDMwNiA0MiAzMDAgNDgiPjwvcG9seWxpbmU+IDwvZz4gPC9nPiA8L2c+IDwvc3ZnPg==');
}
:global(.react-datepicker__current-month) {
    color: #fff;
    font-weight: normal;
    @include FontLight();
    padding: 20px;
    font-size: 16px;
    line-height: 1.3;
}
:global(.react-datepicker__day-name) {
    color: $D50;
    font-weight: normal;
    @include FontLight();
    margin: $cellMargin;
}
:global(.react-datepicker__year-read-view) {
  color: $B10;
  background-color: $B50;
}
:global(.react-datepicker__year-dropdown-container) {
   font-weight: bold;
   font-size: 14px;
}
:global(.react-datepicker__year-dropdown) {
  color: $B10;
  border-radius: 8px;
  background-color: #fff;

  &--scrollable {
    height: 180px;
    overflow-y: scroll;
  }
 }
 :global(.react-datepicker__year-option) {
  color: $B10;
  &:hover {
      background-color: $B50;
  }
}
:global(.react-datepicker__day) {
    @include FontLight();
    margin: $cellMargin;
    box-sizing: content-box;
}
:global(.react-datepicker__month) {
    margin: $calendarMargin;
    margin-top: 0;
}
:global(.react-datepicker__day--selected) {
    $padding: 4px;
    border-radius: 50%;
    padding: $padding;
    margin: $cellMargin - $padding;
    background-color: $B10 !important;
}
:global(.react-datepicker__day:hover) {
    $padding: 4px;
    border-radius: 50%;
    padding: $padding;
    margin: $cellMargin - $padding - 1px;
    background-color: transparent;
    border: 1px solid $B10;
}
:global(.react-datepicker__day--keyboard-selected:hover) {
    color: black;
}
:global(.react-datepicker__day--outside-month) {
    pointer-events: none;
    color: $D60;
}
