.icon {
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"> <!-- Generator: sketchtool 41.2 (35397) - http://www.bohemiancoding.com/sketch --> <title>802D1B69-FA09-45B4-8A56-59B3ED7B8348</title> <desc>Created with sketchtool.</desc> <defs/> <g id="Version-B" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Pickup-hours---add-execption-v3" transform="translate(-459.000000, -443.000000)" fill="#3899EC"> <g id="All" transform="translate(183.000000, 189.000000)"> <g id="Modal"> <g id="Form-Copy-2" transform="translate(264.000000, 88.000000)"> <g id="Date" transform="translate(0.000000, 126.000000)"> <path d="M24,40 L24,41 L16,41 L16,40 L15,40 L15,41 L13,41 L13,42 L15,42 L15,43 L16,43 L16,42 L24,42 L24,43 L25,43 L25,42 L27,42 L27,45 L13,45 L13,42 L12,42 L12,54.9999375 L13,54.9999375 L13,46 L27,46 L27,54.9999375 L28,54.9999375 L28,42 L27.0000625,42 L27.0000625,41 L25,41 L25,40 L24,40 Z M13,56 L27.0000625,56 L27.0000625,55 L13,55 L13,56 Z" id="Icon"/> </g> </g> </g> </g> </g> </g> </svg>');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-left: 12px;
  z-index: 1;
}
