@import '../Tooltip/common.scss';

.root {
  display: inline-block;
}

.calendar-root {
  z-index: 1;
}

.date-picker-calendar {
  :global .DayPicker {
    @include popoverTheme;
  }
}

.icon {
  margin: 0 6px;
  color: $B10;
  display: flex;
}
