@import '../common.scss';

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  line-height: 15px;

  &.rtl {
      flex-direction: row-reverse;
  }
}


.time {
    cursor: pointer;
    display: block;
    width: 108px;
    white-space: nowrap;
    flex-direction: row;
    box-sizing: border-box;

    &.focus {
        outline: 1px solid black;
    }

    &.hover {
        outline: 1px solid blue;
    }

    &.rtl {
        flex-direction: row-reverse;
    }
}

.ampm {
    position: absolute;
    height: 15px;
    font-size: 14px;
    z-index: 1;
    top: 0; bottom: 0; left: 30px; right: 0;
    margin: auto;
    text-transform: uppercase;

    &:hover {
        color: $B10;
    }
}

.input {
    position: relative;
    text-align: left;
    cursor: pointer;
    text-align: center;
    background-color: transparent;

    input {
      padding-right: 50px;
    }
}

.stepper {
  position: absolute;
  width: 5px;
  right: 0;
  z-index: 1;
  margin-right: 15px;
}

.timeButton {
    cursor: pointer;
    // .Unselectable();
}

.plus {
}

.minus {
}
