@import '../common.scss';

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  line-height: 15px;

  &.rtl {
      flex-direction: row-reverse;
  }
}


.time {
    cursor: pointer;
    display: block;
    width: 115px;
    white-space: nowrap;
    flex-direction: row;
    box-sizing: border-box;

    &.focus {
        outline: 1px solid black;
    }

    &.hover {
        outline: 1px solid blue;
    }

    &.rtl {
        flex-direction: row-reverse;
    }
}

.ampm {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $D10;
    @include FontRoman();
    &:hover { color: $B10; }
}

.input {
    cursor: pointer;
}
