@import '../common.scss';

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  line-height: 15px;
  width: 120px; // Infered from Zeplin spec.

  &.rtl {
      flex-direction: row-reverse;
  }
}


.time {
    cursor: pointer;
    display: block;
    width: inherit;
    white-space: nowrap;
    flex-direction: row;
    box-sizing: border-box;

    &.focus {
        outline: 1px solid black;
    }

    &.hover {
        outline: 1px solid blue;
    }

    &.rtl {
        flex-direction: row-reverse;
    }
}

.ampm {
    margin-top: 1px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $D10;
    @include FontRoman();
    &:hover { color: $B10; }
}

.disabled .ampm {
    cursor: default;
    color: $D50;
    &:hover { color: $D50; }
}

.input {
    cursor: pointer;
}
