@import '../common.scss';

$wix-modal-easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$wix-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.modal {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  div {
    box-sizing: border-box;
  }
}

.portal {
  :global {
    .ReactModal__Content {
      opacity: 0.66;
      transform: scale(0.93);
      &--after-open {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.35s $wix-modal-easeOutQuint, transform 0.35s $wix-modal-easeOutQuint;
      }
      &--before-close {
        pointer-events: none;
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.3s $wix-modal-easeOutQuint, transform 0.3s $wix-modal-easeOutQuint;
      }
    }
    .ReactModal__Overlay {
      background: rgba($D10, 0);
      opacity: 1;
      &--after-open {
        background: rgba($D10, 0.66);
        transition: background 0.2s $wix-modal-easeOutQuint;
      }
      &--before-close {
        background: rgba($D10, 0);
        transition: background 0.15s $wix-ease-out-quad;
      }
    }
  }
}

:global{
  .ReactModal__Body--open{
    overflow: hidden;
  }
}

.children-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 40px;
  right: 38px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  color: white;
}
.portal-non-scrollable {
  :global {
    .ReactModal__Overlay {
      overflow: hidden;
    }
  }
}
