

.badge {
    padding: 5px 20px;
    color: "{{ color-1 }}";
    border-radius: 6px 6px 6px 0;
    text-transform: uppercase;
}

.primary{
    background-color: #00b4fc;
}
.default{
    background-color: "{{ color-11 }}";
}

.success{
    background-color: "{{ color-12 }}";
}

.info{
    background-color: "{{ color-13 }}";
}

.warning{
    background-color: "{{ color-14 }}";
}

.danger{
    background-color: "{{ color-15 }}";
}

.top{
    text-align: right;
}