@import '../../common.scss';

.root {
  box-sizing: border-box;
  margin: 0 6px;
  user-select: none;
}

.up, .down {
  padding: 5px 0;
  color: $B10;
  cursor: pointer;

  svg {
    display: block;
    width: 10px;
    height: 5px;
  }

  &.disabled {
    cursor: not-allowed;
    color: $GR10;
  }  
}
