$slide-animation-time: .2s;

.enter, .appear {
  opacity: 0;
}

.enter.enterActive, .appear.appearActive {
  opacity: 1;
  transition: opacity $slide-animation-time ease-in-out;
}

.exit {
  opacity: 1;
}

.exit.exitActive {
  transition: opacity $slide-animation-time ease-in-out;
  opacity: 0;
}
