@import '../common';

.tag {
  @include FontLight();
  position: relative;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 2px 12px 2px 12px;
  margin-left: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 24px;

  .thumb {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 18px;
    height: 18px;
    left: -6px;
  }

  .tagRemoveButton {
    cursor: pointer;
    margin-left: 12px;
    width: 6px;
    font-size: 6px;
    line-height: 6px;
    display: inherit;
  }

  &.disabled {
    background-color: $GR30;
    color: $D30;
  }
}

.large {
  height: 36px;

  .thumb {
    height: 24px;
    width: 24px;
  }

  .tagRemoveButton {
    margin-left: 20px;
    width: 8px;
    font-size: 8px;
    line-height: 8px;
  }
}

.tagWrap {
  overflow: hidden;
}

.innerTagWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.standard-theme {
  background-color: $B40;
  .tagRemoveButton {
    color: $B10;
  }
}

.warning-theme {
  background-color: $Y40;
  .tagRemoveButton {
    color: white;
  }
}
.warning-theme:hover {
  background-color: $Y30;
}

.error-theme {
  background-color: $R40;
  .tagRemoveButton {
    color: black;
  }
}

.error-theme:hover {
  background-color: $R30;
}
