@import '../colors.scss';

.root {
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  transition: background-color ease 300ms;

  .thumb {
    //TODO - should be done in the Avatar component
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;
  }

  .removeButton {
    flex: 0 0 auto;
  }
}

.deprecatedMargins {
  //todo - these margins should be removed. they are set by the MultiSelect/Tags component
  margin-left: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
}

//Sizes
.tinySize {
  height: 18px;
  padding: 0 9px;

  &.withThumb {
    padding-left: 3px;
  }

  &.withRemoveButton {
    padding-right: 3px;
  }

  .thumb {
    //TODO - sizes should be taken from the Avatar component
    height: 12px;
    width: 12px;
    margin-right: 6px;
  }
}

.smallSize {
  height: 24px;
  padding: 0 12px;

  &.withThumb {
    padding-left: 3px;
  }

  &.withRemoveButton {
    padding-right: 3px;
  }

  .thumb {
    //TODO - sizes should be taken from the Avatar component
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  .removeButton {
    margin-left: 6px;
  }
}

.mediumSize {
  height: 30px;
  padding: 0 12px;

  &.withThumb {
    padding-left: 6px;
  }

  &.withRemoveButton {
    padding-right: 6px;
  }

  .thumb {
    //TODO - sizes should be taken from the Avatar component
    height: 18px;
    width: 18px;
    margin-right: 12px;
  }

  .removeButton {
    margin-left: 6px;
  }
}

.largeSize {
  height: 36px;
  padding: 0 18px;

  &.withThumb {
    padding-left: 6px;
  }

  &.withRemoveButton {
    padding-right: 6px;
  }

  .thumb {
    //TODO - sizes should be taken from the Avatar component
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }

  .removeButton {
    margin-left: 12px;
  }
}

:not(.disabled) {
  &.clickable {
    cursor: pointer;
  }

  //Themes
  &.standard-theme {
    background-color: $B40;

    &.clickable:hover {
      background-color: $B30;
    }
  }

  &.warning-theme {
    background-color: $Y40;

    &.clickable:hover {
      background-color: $Y30;
    }
  }

  &.error-theme {
    background-color: $R40;

    &.clickable:hover {
      background-color: $R30;
    }
  }
}

//Disabled
.disabled {
  background-color: $GR30;
  color: $D30;
}

//Ellipsis - TODO, should replace with Text ellipsis once the display-inline is solved
.tagEllipsis {
  overflow: hidden;
}

.tagTextEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
