@import '../common.scss';
@import '../common/Focusable/Focusable';

$transition-speed:.3s;
$activeBackgroundColor: $B10;
$inactiveFocusedBackgroundColor: $B20;
$hoverBackgroundColor: $B20;

@mixin backgroundColor($color) {
    background: $color;

    path {
        fill: $color;
    }
}

.toggleSwitch {
    display: inline-block;
}

.toggleSwitch input[type=checkbox] {
    display:none;
}

.toggleSwitch input[type=checkbox]:checked + .outerLabel {
    background: $activeBackgroundColor;
    .innerLabel {
        left:   23px;
        .toggleActive {
            display:block;
            transition: all $transition-speed cubic-bezier(1,0,1,0);
        }
        .toggleInactive {
            display:none;
            transition: all $transition-speed cubic-bezier(0,1,0,1);
        }
    }

    &:hover {
        @include backgroundColor($hoverBackgroundColor);
    }

    &.disabled {
        background: $GR10;
    }
}

.toggleSwitch label {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: all $transition-speed ease;
}

.outerLabel {
    display:    inline-block;
    width:      45px;
    height:     24px;
    background: $B40;
    position:   relative;
    cursor:     pointer;
    outline: none;

    &.disabled {
        cursor: default;
        background: $GR10;
    }

    &:hover {
        @include backgroundColor($hoverBackgroundColor);
    }
}

.toggleSwitch#{$focusable-focus-visible} {
    .outerLabel {
        @include FocusBox;

        &:not(&:hover) {
            @include backgroundColor($inactiveFocusedBackgroundColor);
        }
    }
}

.innerLabel {
    display:    flex;
    width:      21px;
    height:     22px;
    background: white;
    position:   absolute;
    top:        1px;
    left:       1px;
    z-index:    1;
    text-align: center;
    cursor:     pointer;

    justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.2);

    &.disabled {
        cursor: default;
    }
}

:global(.rtl) {
    .innerLabel {
        left: 23px;
    }

    .toggleSwitchSmall {
        .innerLabel {
            left: 17px;
        }
    }

    .toggleSwitchXSmall {
        .innerLabel {
            left: 14px;
        }
    }

    .toggleSwitch input[type=checkbox]:checked + .outerLabel {
        .innerLabel {
            left:   1px;
        }
    }
}

.toggleActive {
    display:none;
    width: 8px;
    height: 6px;
    transition: all $transition-speed cubic-bezier(0,1,0,1);

    path {
        fill: $activeBackgroundColor;
    }

    &.disabled {
        path {
            fill: $GR10;
        }
    }
}

.toggleInactive {
    transition: all $transition-speed cubic-bezier(1,0,1,0);
    width: 8px;
    height: 6px;

    path {
        fill:$B40;
    }

    &.disabled {
        path {
            fill: $GR10;
        }
    }
}

.toggleSwitchSmall {
    .outerLabel {
        width: 36px;
        height: 20px;
    }
    .innerLabel {
        width: 18px;
        height: 18px;
    }
    input[type=checkbox]:checked + .outerLabel .innerLabel {
        left: 17px;
    }
}

.toggleSwitchXSmall {
  .outerLabel {
    width: 28px;
    height: 15px;
  }
  .innerLabel {
    width: 13px;
    height: 13px;
  }
  .toggleActive, .toggleInactive {
    display: none !important;
  }
  input[type=checkbox]:checked + .outerLabel .innerLabel {
    left: 14px;
  }
}
