:import {
  -st-from: "wix-ui-backoffice/dist/src/colors.st.css";
  -st-named: D60, B50;
}
:import {
  -st-from: '../TableActionCell.st.css';
  -st-default: TableActionCell;
}

.root {}

.example {
  background-color: value(D60);
  margin: 50px;
  padding: 20px;
  min-width: 874;
  max-width: 1234px;
}

.exampleRow {
  display: block;
  padding: 16px;
  background-color: white;
}

.exampleRow:hover {
  background-color: value(B50);
}

/* `onHover` HoverSlot */
.exampleRow TableActionCell::hoverSlot.onHover {
  visibility: hidden;
}

.exampleRow:hover TableActionCell::hoverSlot.onHover {
  visibility: visible;
}

/* `notOnHover` HoverSlot */
.exampleRow TableActionCell::hoverSlot.notOnHover {
  visibility: visible;
}

.exampleRow:hover TableActionCell::hoverSlot.notOnHover {
  visibility: hidden;
}

/* Placeholder icon */
.exampleRow:hover TableActionCell::placeholderIcon {
  display: none;
}
