@import '../common';

// Allow flex-child to shrink when there is a truncated descendant
// See: https://css-tricks.com/flexbox-truncated-text/#article-header-id-3
@mixin truncatedFlexChild {
  min-width: 0;
}

.headerContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 30px;
  
  .header {
    flex: 1;
    @include truncatedFlexChild;

    .breadcrumbsContainer {
      margin-left: -10px;
    
      &.absolute {
        position: absolute;
      }
    }
    
    .titleContainer {
      display: flex;
    
      &.minimized {
        position: absolute;
      }
    
      .backButton {
        position: relative;
        top: 6px;
        left: -12px;
        z-index: 1;
        width: 36px;
        height: 36px;
      
        button {
          border: none;
          background-color: transparent;
      
          &:hover {
            background-color: rgba($D80, 1);
          }
      
          &:active {
            margin-left: -3px;
            margin-top: -3px;
            width: 42px;
            height: 42px;
          }
        }
      
        &.darkTheme {
          button {
            color: $D80;
      
            &:hover {
              background-color: rgba($D80, 0.3);
            }
          }
        }

        .backButtonIcon {
          display: block;
          width: 36px;
          height: 36px;
        }        
      }
      
      .titleColumn {
        @include truncatedFlexChild;
    
        .title {
          height: 48px;
        }
      }
    }    
  }

  .actionsBar {
    height: 30px;
    margin-top: 6px;
    margin-left: auto;

    &.animationEnabled {
      transition: margin .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  
    &.withBreadcrumbs {
      margin-top: 36px;
    }
  
    &.minimized {
      margin-top: -3px;
    }
  }  
}

@include withRTL() {
  .breadcrumbsContainer {
    margin-left: 0;
    margin-right: -10px;
  }

  .backButton {
    left: 12px;
  }

  .backButtonIcon {
    transform: scaleX(-1);
  }
}
