@import '../common';
@import '../Typography/Typography';

.breadcrumbs-container {
  margin-left: -10px;

  &.absolute {
    position: absolute;
  }
}

.header-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 33px;
}

.header {
  flex: 1;
}

.back-button {
  position: relative;
  top: 6px;
  left: -12px;
  float: left;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;

  button {
    position: absolute;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: rgba($D80, 1);
      border-color: transparent;
    }

    &:active {
      width: 100%;
      height: 100%;
      width: 42px;
      height: 42px;
    }
  }

  &.dark-theme {
    button {
      color: $D80;

      &:hover {
        background-color: rgba($D80, 0.3);
      }
    }
  }
}

.title-container {
  float: left;
}

.title {
  h2 {
    margin: 0;
  }
}

.actions-bar {
  margin-top: 5px;
  margin-left: auto;
  transition: margin .2s cubic-bezier(0.4, 0.0, 0.2, 1);

  &.with-breadcrumbs {
    margin-top: 35px;
  }

  &.minimized {
    margin-top: -3px;
  }
}
