@import '../common';

// Allow flex-child to shrink when there is a truncated descendant
// See: https://css-tricks.com/flexbox-truncated-text/#article-header-id-3
@mixin truncatedFlexChild {
  min-width: 0;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 30px;
  
  .header {
    flex: 1;
    @include truncatedFlexChild;

    .breadcrumbs-container {
      margin-left: -10px;
    
      &.absolute {
        position: absolute;
      }
    }
    
    .title-container {
      display: flex;
    
      &.minimized {
        position: absolute;
      }
    
      .back-button {
        position: relative;
        top: 6px;
        left: -12px;
        z-index: 1;
        width: 36px;
        height: 36px;
      
        button {
          border: none;
          background-color: transparent;
      
          &:hover {
            background-color: rgba($D80, 1);
          }
      
          &:active {
            margin-left: -3px;
            margin-top: -3px;
            width: 42px;
            height: 42px;
          }
        }
      
        &.dark-theme {
          button {
            color: $D80;
      
            &:hover {
              background-color: rgba($D80, 0.3);
            }
          }
        }

        .back-button-icon {
          display: block;
          width: 36px;
          height: 36px;
        }        
      }
      
      .titleColumn {
        @include truncatedFlexChild;
    
        .title {
          h2 {
            margin: 0;
            height: 48px; // TODO: I think we should have this height on the 'title' class and not necessarily on h2 tags. Also Heading is no h1 not h2, so This is kind of redundant.
          }
        }
      }
    }    
  }

  .actions-bar {
    height: 30px;
    margin-top: 6px;
    margin-left: auto;
    transition: margin .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  
    &.with-breadcrumbs {
      margin-top: 36px;
    }
  
    &.minimized {
      margin-top: -3px;
    }
  }  
}



@include withRTL() {
  .breadcrumbs-container {
    margin-left: 0;
    margin-right: -10px;
  }

  .back-button {
    left: 12px;
  }

  .back-button-icon {
    transform: scaleX(-1);
  }
}
