@import '../../common';
@import '../../Typography/Typography';

.button {
  $height: 44px;
  border: none;
  cursor: pointer;
  height: $height;
  padding: 0 30px;
  transition: all .2s;
  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.button>.inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.button>.inner, .button>div, .button>.inner>div {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.heightsmall {
  $height: 30px;
  height: $height;
  padding: 0 15px;
}

.heightmedium {
  $height: 30px;
  height: $height;
  padding: 0 15px;
}

.button.fill.hover,
.button.fill:hover {
  box-shadow: 1000px 1000px rgba(0,0,0,.1) inset;
}