@import '../common.scss';
@import '../mixins.scss';
@import '../typography-helpers.scss';

$option_height: 35px;
$big_option_hight: 47px;
$content_container_height: 260px;
$top-arrow-size: 8px;
$arrowUpShadow: 3px 3px 8px rgba(0, 0, 0, .1);
$arrowDownShadow: -3px -3px 8px rgba(0, 0, 0, .1);

.wrapper {
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.options {
  position: relative;
  overflow: auto;
  @include default-scroll-bar;
}

.content-container {
  background: $D80;
  border: none;
  display: none;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: opacity 0.2s ease;
  display: none;
  width: 100%;
  z-index: 6;
  left: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.containerStyles {
    border-radius: 8px;
    box-shadow: $Shadow30;
    position: absolute;
  }
}

.content-container.shown {
  display: block;
  height: auto;
  overflow: auto;
  opacity: 1;

  &.with-arrow {
    padding: 10px 0;
  }

  &.containerStyles {
    &.up {
      bottom: 0;
      margin-top: 15px;

      &.with-arrow {
        margin-bottom: $top-arrow-size;
      }
    }

    &.down {
      top: 0;
      margin-bottom: 15px;

      &.with-arrow {
        margin-top: $top-arrow-size;
      }
    }
  }
}

.option {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 6px 20px 6px 24px;
  @include FontLight();

  font-size: 16px;
  color: $D10;
  cursor: pointer;

  width: 100%;
  display: flex;
  align-items: center;

  &.small-height {
    min-height: $option_height;
  }

  &.big-height {
    min-height: $big_option_hight;
  }

  &.title {
    @include HeadingNoColor($tagName: h6);
    background: $D70;
    color: $D20;
  }
}

a[data-hook=link-item] {
  text-decoration: none;
}

.disabled {
  color: $D50;
  cursor: default;
}


:global(.rtl) .option {
  text-align: right;
  direction: rtl;
  padding-right: 24px;
  padding-left: 24px;
}

.option.hovered {
  background: $B50;
  color: $D10;
}

.option:focus {
  outline: none;
}

.option.selected {
  background-color: $B10;
  color: $D80;
}

.option.selected.hovered {
  background-color: $B20;
  color: $D80;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: $D60;
  margin: 0;
}

.wrapper * {
  box-sizing: border-box;
}

.arrow {
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%) rotateZ(45deg);
  height: $top-arrow-size;
  width: $top-arrow-size;
  background: $D80;

  &.up {
    bottom: $top-arrow-size / 2;
    box-shadow: $arrowUpShadow;
  }

  &.down {
    top: $top-arrow-size / 2;
    box-shadow: $arrowDownShadow;
  }
}

.theme {
  &-b2b {
    .content-container {
      border-radius: 0;
    }

    .option {
      @include FontLight();
      color: #8090a2;
      font-size: 16px;
    }

    .option.selected {
      background-color: #5cb4ff;
      color: $D80;
    }

    .option.selected.hovered {
      background-color: #71c4f6;
      color: $D80;
    }

    .options::-webkit-scrollbar {
      width: 14px;
    }

    .options::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgba(182, 193, 205, 0.5);
      background-clip: padding-box;
      box-sizing: border-box;
      border: 4px solid rgba(0, 0, 0, 0);
    }
  }

  &-material {
    .content-container {
      &.up {
        bottom: 5px;
      }
      &.down {
        top: 5px;
      }
      .option {
        min-height: 36px;
        font-size: 15px;
        color: $D30;
      }
    }
  }
}
