@import "../common.scss";

$option_height: 35px;
$content_container_height: 260px;

.wrapper {
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  width: 100%;
}

.options {
  position: relative;
  max-height: $content_container_height - $option_height;
  overflow: auto;
}

.content-container {
  background: $D80;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 fade-out(black, 0.86);
  display: block;
  max-height: 260px;
  opacity: 0;
  overflow: auto;
  padding: 0;
  transition: opacity 0.2s ease;
  visibility: hidden;
  width: 100%;
  z-index: 6;
  position:absolute;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-container {
  &.up { bottom: 0; }
  &.down { top: 0; }
}

.content-container.shown {
  visibility: visible;
  opacity: 1;
}

.options::-webkit-scrollbar {
  width: 16px;
  background-color: none;
}

.options::-webkit-scrollbar-button {
  height:6px;
}

.options::-webkit-scrollbar-thumb  {
  background-color: rgba(110, 181, 241, 0.45);
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  height: 58px;
}

.options::-webkit-scrollbar-thumb:hover  {
  background-color: $B30;
}

.options::-webkit-scrollbar-thumb:active {
  background-color: $B00;
}

.option {
  line-height: $option_height;
  min-height: $option_height;
  height: $option_height;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding-top: 0;
  @include FontLight();

  font-size: 16px;
  color: $D10;
  cursor:pointer;

  width:100%;
}

.disabled {
  color: $D50;
}

:global(.ltr) .option {
  text-align: left;
  padding-left: 24px;
  padding-right: 20px;
}

:global(.rtl) .option {
  text-align: right;
  padding-right: 24px;
  padding-left: 20px;
}

.option.hovered {
  background: $B50;
  color: $D10;
}

.option:focus {
  outline: none;
}

.option.selected {
  background-color: $B10;
  color: $D80;
}

.option.selected.hovered {
  background-color: $B20;
  color: $D80;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  margin: 0;
}

.wrapper * {
  box-sizing:border-box;
}

.theme {
  &-b2b {
    .content-container {
      border-radius: 0;
    }

    .option {
      @include FontLight();
      color: #8090a2;
      font-size: 16px;
    }

    .option.selected {
      background-color: #5cb4ff;
      color: $D80;
    }

    .option.selected.hovered {
      background-color: #71c4f6;
      color: $D80;
    }

    .options::-webkit-scrollbar {
      width: 14px;
    }

    .options::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgba(182, 193, 205, 0.5);
      background-clip: padding-box;
      box-sizing: border-box;
      border: 4px solid rgba(0, 0, 0, 0);
    }
  }

  &-material {
    .content-container {
      &.up {
        bottom: 5px;
      }
      &.down {
        top: 5px;
      }
      .option {
        min-height: 36px;
        line-height: 36px;
        font-size: 15px;
        color: $D30;
      }
    }
  }
}
