@import '../colors.scss';
@import '../fonts.scss';

/* OLD TYPOGRAPHY CLASSES */
@mixin typography($font, $font-size, $line-height, $color) {
  font-family: $font;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
}

@mixin generateVariations($list) {
  @each $tag, $props in $list {
    $font: nth($props, 1);
    $fontSize: nth($props, 2);
    $lineHeight: nth($props, 3);
    $colors: nth($props, 4);
    $index: 0;
    $suffix: '';
    @each $color in $colors {
      .#{$tag}#{$suffix} {
        @include typography($font, $fontSize, $lineHeight, $color);
      }

      $index: $index + 1;
      $suffix: '_'+$index;
    }
  }
}

/* Deprecated: When possible, use <Heading/> component instead of these classes */
$headers: (
  "h1": ($FontMedium, 36px, 48px, ($D10, $D80)),
  "h2": ($FontMedium, 28px, 42px, ($D10, $D80)),
  "h3": ($FontRoman, 20px, 24px, ($D10, $D80)),
  "h4": ($FontRoman, 18px, 24px, ($D10, $D80)),
  "h5": ($FontMedium, 12px, 24px, ($D20, $D50)),
  "h6": ($FontMedium, 10px, 18px, ($D10, $D50)),
);

/* Deprecated: When possible, use <Text/> component instead of these classes */
/* TODO: find all usage of t# classes, and use <Text/> or Text mixin (from Text.scss) instead */
$bodies: (
  "t1": ($FontLight, 16px, 24px, ($D10, $D20, $D80, $B10, $D55, $R10, $P10)),
  "t2": ($FontRoman, 16px, 24px, ($D10, $D50, $D80, $B10)),
  "t3": ($FontLight, 14px, 18px, ($D10, $D20, $D80, $B10, $D55, $R10, $P10)),
  "t4": ($FontRoman, 14px, 18px, ($D10, $D20, $D80, $B10, $D55, $R10)),
  "t5": ($FontMedium, 10px, 12px, ($D20, $D80)),
  "t6": ($FontBold, 10px, 12px, ($D20, $D80))
);

@include generateVariations($headers);
@include generateVariations($bodies);

.h5, .h5_1, .h6, .h6_1, .t5, .t5_1 { text-transform: uppercase; }
.h5 { letter-spacing: 1.2px; }
.h6, .t5, .t5_1 { letter-spacing: 1px;  }

/* OLD TYPOGRAPHY - END */
