@import '../common.scss'; // TODO: take only fonts & colors
@import '../typography-helpers.scss';

/* HEADING */
.h1 {
  @include Heading($tagName: h1);
  &.light {
    @include HeadingColor($tagName: h1, $light: true);
  }
}

.h2 {
  @include Heading($tagName: h2);
  &.light {
    @include HeadingColor($tagName: h2, $light: true);
  }
}

.h3 {
  @include Heading($tagName: h3);
  &.light {
    @include HeadingColor($tagName: h3, $light: true);
  }
}

.h4 {
  @include Heading($tagName: h4);
  &.light {
    @include HeadingColor($tagName: h4, $light: true);
  }
}

.h5 {
  @include Heading($tagName: h5);
  &.light {
    @include HeadingColor($tagName: h5, $light: true);
  }
}

.h6 {
  @include Heading($tagName: h6);
  &.light {
    @include HeadingColor($tagName: h6, $light: true);
  }
}

/* TEXT */
.text {
  @include Text;

  /* SIZE */
  &.sizeMedium {
    @include TextSize($size: medium);
  }

  &.sizeSmall {
    @include TextSize($size: small);
  }

  &.sizeTiny {
    @include TextSize($size: tiny);
  }

  /* Font Family */
  &.weightThin {
    @include TextFontFamily($weight: thin);
  }

  &.weightNormal {
    @include TextFontFamily($weight: normal);
  }

  &.weightBold {
    @include TextFontFamily($weight: bold);
  }

  &.weightThin.sizeTiny {
    @include TextFontFamily($weight: thin, $size: tiny);
  }

  &.weightNormal.sizeTiny {
    @include TextFontFamily($weight: normal, $size: tiny);
  }

  &.weightBold.sizeTiny {
    @include TextFontFamily($weight: bold, $size: tiny);
  }

  &.weightThin.sizeSmall {
    @include TextFontFamily($weight: thin, $size: small);
  }

  &.weightNormal.sizeSmall {
    @include TextFontFamily($weight: normal, $size: small);
  }

  &.weightBold.sizeSmall {
    @include TextFontFamily($weight: bold, $size: small);
  }

  &.weightThin.sizeMedium {
    @include TextFontFamily($weight: thin, $size: medium);
  }

  &.weightNormal.sizeMedium {
    @include TextFontFamily($weight: normal, $size: medium);
  }

  &.weightBold.sizeMedium {
    @include TextFontFamily($weight: bold, $size: medium);
  }

  &.link {
    color: $B10;
  }

  &.light {
    color: $D80;
  }

  &.secondary {
    color: $D20;
  }

  &.secondary.light {
    color: $D40;
  }

  /* Skin is last so it has priority over light, link and secondary */
  &.skinStandard {
    color: $D10;
  }

  &.skinSuccess {
    color: $G10;
  }

  &.skinError {
    color: $R10;
  }

  &.skinPremium {
    color: $P10;
  }
}





