@import '../common';

@mixin typography($font, $font-size, $line-height, $color) {
	font-family: $font;
	font-size: $font-size;
	color: $color;
	line-height: $line-height;
}

@mixin generateVariations($list) {
	@each $tag, $props in $list {
		$font: nth($props, 1);
		$fontSize: nth($props, 2);
		$lineHeight: nth($props, 3);
		$colors: nth($props, 4);
		$index: 0;
		$suffix: '';
		@each $color in $colors {
			.#{$tag}#{$suffix} {
				@include typography($font, $fontSize, $lineHeight, $color);
			}

			$index: $index + 1;
			$suffix: '_'+$index;
		}
	}
}

$headers: (
	"h0": ($FontUltraThin, 48px, 54px, $D10),
	"h1": ($FontThin, 36px, 48px, $D10),
	"h2": ($FontLight, 20px, 36px, ($D10, $D80)),
	"h3": ($FontLight, 13px, 24px, $D30),
	"h4": ($FontRoman, 10px, 18px, $D30),
);

$bodies: (
	"t1": ($FontLight, 16px, 24px, ($D10, $D30, $D80, $B10, $GR10, $R10, $P10)),
	"t2": ($FontRoman, 16px, 24px, ($D10, $D50, $D80, $B10)),
	"t3": ($FontLight, 14px, 18px, ($D10, $D30, $D80, $B10, $GR10, $R10, $P10)),
	"t4": ($FontRoman, 14px, 18px, ($D10, $D30, $D80, $B10)),
	"t5": ($FontMedium, 10px, 12px, ($D30, $D80))
);

@include generateVariations($headers);
@include generateVariations($bodies);

.h3, .h4, .t5, .t5_1 { text-transform: uppercase; }
.h3 { letter-spacing: 2px; }
.h4 { letter-spacing: 1.2px; }
.t5, .t5_1 { letter-spacing: 1px;  }
