.enter {
  transform: scale(0.01);
  //opacity: 0.01;
  transition: all 0.6s ease-in;
}
.enter.enterActive {
  //opacity: 1;
  transform: scale(1);
}
.leave {
  //opacity: 1;
  transform: scale(1);
  transition: all 0.6s ease-in;
}
.leave.leaveActive {
  //opacity: 0.01;
  transform: scale(0.01);
}
.appear {
  opacity: 0.01;
  transform: scale(0.01);
}
.appear.appearActive {
  //opacity: 1;
  transform: scale(1);
  transition: all 0.6s ease-in;
}