$slide-animation-time: 0.3s;

.enterActive-base {
  transform: translate(0%);
  transition: transform $slide-animation-time ease-in-out;
}

.exit-base {
  transform: translate(0%);
}

.exitActive-base {
  transition: transform $slide-animation-time ease-in-out;
}
