@import '../common.scss';
@import '../Typography/Typography';

.container {
  @extend .t1;
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid transparent;
  list-style: none;

  &.hasDivider {
    border-color: $D60;
  }
}

.tab {
  position: relative;
  padding: 18px 18px 16px;
  margin: 0 0 -1px;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  .compact & {
    padding-right: 0;
    padding-left: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  .uniformFull & {
    flex: 1;
  }

  &:hover {
    @extend .t1_3;
  }
}

.active {
  opacity: 0.9;
  border-color: $B10;
}
