.card {
  box-sizing: border-box;
  border-radius: 8px;
  width: 400px;
  height: 45px;
  border: 1px solid #7a92a5;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  user-select: none;
  display: flex;
  align-items: center;
}

.placeholder {
  border: 1px solid transparent;
  background-color: #daeffe;
  color: transparent;
  cursor: -webkit-grabbing;
}

.preview {
  transform: rotate(5deg);
  background-color: #eaf7ff;
  width: 400px;
  height: 45px;
}
