.search-wrapper {
  padding-top: 22px;
  padding-bottom: 14px;
}

.picker {
  margin: auto 0;
}

.search {
  margin: auto;
  width: 296px;
}

.picker-dropdown {
  max-height: 311px;
  width: 331px;
}

.selector-wrapper {
  width: 331px;
  border: 1px #C1E4FE solid;
}