[data-hook="story-page"] {
  height: 300px;
}

.sider-bar {
  width: 200px;
  height: calc(100% - 16px); // -16px account for chrome default body margin
  background: red;
  display: inline-block;
  position: fixed;
}

.body-content {
  margin-left: 200px;
  height: calc(100vh - 16px); // -16px account for chrome default body margin
  display: flex;
  flex-flow: column;
  min-height: 0;
}

.top-bar {
  background: green;
  width: 100%;
  flex: 0 0 100px;
}

.background-gradient {
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,0.96) 41%, rgba(73,165,191,0.9) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,0.96)), color-stop(100%, rgba(73,165,191,0.9)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,0.96) 41%, rgba(73,165,191,0.9) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,0.96) 41%, rgba(73,165,191,0.9) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,0.96) 41%, rgba(73,165,191,0.9) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,0.96) 41%, rgba(73,165,191,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
} 