[data-hook="side-bar"] {
  width: 200px;
  height: calc(100% - 16px); // -16px account for chrome default body margin
  background: red;
  display: inline-block;
  position: fixed;
}

[data-hook="body-content"] {
  margin-left: 200px;
  height: calc(100vh - 16px); // -16px account for chrome default body margin
  display: flex;
  flex-flow: column;
  min-height: 0;
}

[data-hook="top-bar"] {
  background: green;
  width: 100%;
  flex: 0 0 100px;
}