@import '../../common';
@import '../../Typography/Typography';

.breadcrumbs-container {
    margin-left: -10px;

    &.absolute {
        position: absolute;
    }
}

.header-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.header {
    flex: 1;
}

.back-button {
    position: relative;
    top: 6px;
    left: -12px;
    float: left;
    z-index: 1;

    button {
        background-color: transparent;
        border-color: transparent;

        &:hover {
            background-color: $D80;
            border-color: $D80;
        }
    }
}

.title-container {
    float: left;
}

.title {
    h2 {
        margin: 0;
    }
}

.actions-bar {
    margin-top: 5px;
    margin-left: auto;
    transition: margin .2s cubic-bezier(0.4, 0.0, 0.2, 1);

    &.with-breadcrumbs {
        margin-top: 35px;
    }

    &.minimized {
        margin-top: -3px;
    }
}