@import '../common.scss';
@import './MessageBoxCommon.scss';

.footer {
  padding: 30px;
  display: flex;
  align-items: center;
}

.footerbuttons {
  margin-left: auto;
  flex-shrink: 0;

   &.withSideActions {
     padding-left: 24px;
   }
}

.footerbuttons > :first-of-type:not(:last-of-type) {
  margin-right: 12px;
}
