@import '../common.scss';
.content {
  border-radius: 8px;
  background-color: white;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header {
  flex-shrink: 0;
}

.prefix-content {
  flex-shrink: 0;
  padding: 30px 30px 12px;
}

.body {
  @include FontLight();
  color: $paletteD2;
  font-size : 16px;
  line-height: 24px;

  flex-grow: 1;
  overflow: auto;
  min-height: 2em;

  padding: 0;
}

.footer {
  flex-shrink: 0;
  padding: 12px 30px 30px;
}

