@import '../common.scss';

.content
{
    border-radius    : 8px;
    background-color : white;
    width            : 600px;
}

.body
{
    @include FontRoman();
    padding   : 36px 30px 42px 30px;
    color     : $paletteD2;
    font-size : 16px;
    line-height: 24px;
}

