@import '../common';
@import './MessageBoxCommon.scss';

.root {
  box-shadow: $Shadow40;
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
}
$headerHeight: 120px;
$headerImageHeight: 185px;
.header {
  border-radius: 8px 8px 0 0;
  height: $headerHeight;
  margin-bottom: $headerImageHeight - $headerHeight;
  position: relative;
}

.header-purple {
  background-color: $P10;
}
.header-blue {
  background-color: $B10;
}

.header-image {
  width: 300px;
  height: $headerImageHeight;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  img {
    max-width: 300px;
    max-height: $headerImageHeight;
  }
}

.headerImageFix {
  top: 20%;
}

.header-image-component {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  right: 18px;
  top: 18px;
  z-index: 10;
}

.title {
  width: 384px;
  margin: 0 auto 19px auto;
  text-align: center;
  color: $D10;
}

.content {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $D10;
  margin-bottom: 48px;
}

.buttons-container {
  text-align: center;
  padding-bottom: 44px;
}

.primary-button-container {
  @include FontLight();
  font-size: 14px;
  line-height: 1.29;
  color: $B10;
  margin-bottom: 8px;
}
.secondary-button-container {
  @include FontLight();
  font-size: 14px;
  line-height: 1.29;
  margin-top: 21px;
  color: $B10;
  & > span {
    cursor: pointer;
  }
}

.flexContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dynamicBody {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

.fixedHeader {
  flex-shrink: 0;
}

.fixedFooter {
  flex-shrink: 0;
}

.bottomChildren {
  margin-top: -28px;
}
