@import '../common';
@import '../mixins';

.content {
    box-shadow: $Shadow40;
    border-radius: 8px;
    background-color: white;
    width: 600px;
}

.body {
    @include FontLight();
    @include default-scroll-bar;
    color     : $paletteD2;
    font-size : 16px;
    line-height: 24px;
    padding   : 36px 30px 42px 30px;
    overflow-y: auto;
}


.no-padding {
    padding: 0;
}

.with-padding {
    padding: 36px 30px 42px 30px;
}
