@import '../common';

.bottomChildren {
  min-height: 42px;
  border-radius: 0 0 8px 8px;
  background-color: $D70;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  margin-top: -12px;
  box-sizing: border-box;
}
