.arrowRightIcon {
	&:before {
		width: 20px;
		height: 20px;
		background: url('../../src/assets/arrow-right-icon.svg') no-repeat;
		display: inline-block;
		content: '';
	}
}

.searchIcon {
	&:before {
		width: 20px;
		height: 20px;
		background: url('../../src/assets/search-icon.svg') no-repeat;
		display: inline-block;
		content: '';
	}
}