.root {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  width: 600px;
}

.table {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.columnPlaceholder {
  background-color: #fff;
  div div {
    visibility: hidden;
  }
}

.item {
  border-radius: 8px;
  min-width: 210px;
  height: 60px;
  background-color: white;
  border: 1px solid #7a92a5;
  padding: 21px 24px;
  margin-bottom: 12px;
}

.itemPlaceholder {
  border: 1px solid transparent;
  background-color: #DAEFFE;
}

.itemPreview {
  background-color: #eaf7ff;
}

.column {
  min-height: 800px;
  background: #f4fafe;
  border: 1px dashed #7a92a5;
  min-width: 210px;
  padding: 24px;
}

