@import '../common.scss';
@import '../Typography/Typography.scss';
@import '../Grid/Grid.scss';

.card {

  $border-radius: 8px;
  $content-padding: 30px;
  $header-padding: 27px 30px 26px;

  background: $D80;
  border-radius: $border-radius;

  .header {

    padding: $header-padding;

    &.with-divider {
      border-bottom: 1px solid $D70;
    }

    .title {
      @extend .h2;
      display: flex;
      justify-content: space-between;
	    line-height: 1.2;
    }

    .link {
      @extend .t1_1;
    }

    .subtitle {
      @extend .t1_1;
    }
  }

	.content {
    @extend .container;

    padding: $content-padding;
  }
}