@import '../common.scss';
@import '../Typography/Typography.scss';
@import '../Grid/Grid.scss';

.card {

	$border-radius: 8px;
	$content-padding: 30px;
	$header-padding: 20px 30px;

	background: $D80;
	border-radius: $border-radius;

	.header {
		@extend .h2;
		padding: $header-padding;
		border-bottom: 1px solid $D70;
	}

	.content {
		padding: $content-padding;

		@extend .container;
	}
}