@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/responsive-visibility.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/grid.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities.scss';


$main-container-min-width: 894px;
$main-container-max-width: 1254px;
$grid-row-margin-bottom: 30px;

.container {
	padding: 0;
	width: 100%;

	* {
		box-sizing: border-box;
	}

	.row:not(:last-child) {
		margin-bottom: $grid-row-margin-bottom;
	}
}
.flex-container {
	display: flex;
}
.wixContainer {
	@extend .container;

	min-width: $main-container-min-width;
	max-width: $main-container-max-width;
}

.stretch_vertically_row {
	display: flex;
	flex-wrap: wrap;
}

.stretch_vertically_row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

@mixin rtl-float-grid-columns($class, $i: 1, $list: ".col-#{$class}-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, :global(.rtl) .col-#{$class}-#{$i}, .rtl.col-#{$class}-#{$i}, .rtl .col-#{$class}-#{$i}";
	}
	#{$list} {
		float: right;
	}
}

@include rtl-float-grid-columns(xs);

@media (min-width: $screen-sm-min) {
	@include rtl-float-grid-columns(sm);
}

@media (min-width: $screen-md-min) {
	@include rtl-float-grid-columns(md);
}

@media (min-width: $screen-lg-min) {
	@include rtl-float-grid-columns(lg);
}