@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/grid.scss';

$main-container-min-width: 894px;
$main-container-max-width: 1254px;
$grid-row-margin-bottom: 30px;

.container {
	padding: 0;
	width: 100%;

	* {
		box-sizing: border-box;
	}

	.row:not(:last-child) {
		margin-bottom: $grid-row-margin-bottom;
	}
}

.wixContainer {
	@extend .container;

	min-width: $main-container-min-width;
	max-width: $main-container-max-width;
}

