.usage {
  position: relative;
}

.githubLink {
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: bold;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
