@import '../../common.scss';

.navigation {
  margin-bottom: auto;
  overflow: auto;
  flex: 1;
}

.link {
  display: block;
  padding: 15px 30px;
  transition: .2s ease all;
  color: $D80;
  font-family: $FontRoman;
  line-height: 1.5;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;

  &:hover:not(.linkActive),
  &:focus:not(.linkActive) {
    background: #325770;
    color: #fff;
  }

  &.linkDiminishedHover:hover {
    background: transparent;
    color: $B20;
  }

  &.linkDiminishedHover:focus { background: transparent; }

  &:hover,
  &:focus { text-decoration: none; }
}

.linkActive { background: #2a4f68; }

.separator {
  width: 81%;
  margin: 13px auto;
  border-bottom: 1px solid $D30;
}

