@mixin sticky {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.root {
  height: 126px;
  position: relative;
}

.saturation {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  @include sticky;
}

.brightness {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000);
  @include sticky;
}

.hue {
  background-color: red;
  @include sticky;
}

.handle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin-top: -6px;
  margin-left: -6px;
  position: absolute;
  border: solid 1px #162d3d;
  background: #fff;
  opacity: .7;
  cursor: pointer;
}
