@import '../common.scss';

.loader {
  display: inline-block;
  text-align: center;
}

.loader.small { min-width: 24px; }
.loader.small .wheel { width: 12px; height: 24px; margin-left: -12px; }

.loader.medium { min-width: 80px; }
.loader.medium .wheel { width: 40px; height: 80px; margin-left: -40px; }

.loader.large { min-width: 136px; }
.loader.large .wheel { width: 68px; height: 136px; margin-left: -68px; }

.loader.blue {color: #3899ec;}
.loader.white {color: #fff;}

.wheel {
  display: inline-block;
  position: relative;
  animation: wheel-rotate-semi 1s linear infinite;
  overflow: hidden;
  transform-origin: 100% 50%;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: wheel-rotate-inner 0.5s linear infinite alternate;
    content: '';
  }

  &::before, &::after {
    color: currentColor;
    border: 1px solid currentColor;
    border-color: currentColor transparent transparent currentColor;
  }

  &::after {
    opacity: 0;
  }
}

.text {
  @include FontMedium;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  color: $D40;
  margin-top: 24px;
}

@keyframes wheel-rotate-inner {
  100% {
    opacity: 1;
    transform: rotate(115deg);
  }
}

@keyframes wheel-rotate-semi {
    0% { transform: rotate(180deg); }
   45% { transform: rotate(198deg); }
   55% { transform: rotate(234deg); }
  100% { transform: rotate(540deg); }
}
