@import '../common.scss';

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes staggered-rotation {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .arcsContainer {
    position: relative;
  }

  .darkArc {
    stroke: $B00;
  }

  .lightArc,
  .darkArc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .lightArc,
  .darkArc {
    fill: none;
    stroke-linecap: round;
  }

  .text {
    margin-top: 18px;
  }

  &.small {
    .arcsContainer {

      .lightArc {
        animation: rotation 2s linear infinite;
      }

      .darkArc {
        animation: rotation 0.5s linear infinite;
      }
    }
  }

  &.medium {
    .arcsContainer {
      animation: rotation 2s linear infinite;

      .lightArc {
        animation: rotation 666ms ease-in-out infinite;
      }
    }
  }

  &.large {
    .arcsContainer {
      animation: rotation 2s linear infinite;

      .lightArc {
        animation: staggered-rotation 2s ease-in-out infinite;
      }
    }
  }

  &.blue {
    .lightArc {
      stroke: $B30;
    }
  }

  &.white {
    .lightArc {
      stroke: $D80;
    }
  }
}
