@import '../common.scss';

.notification-component {
  position: relative;

  .notification-wrapper {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    .content-wrapper {
      flex: 1 0 auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .label-wrapper {
        margin-right: 12px;
      }
    }

    .close-button-wrapper {
      margin-right: 12px;
    }
  }
}

/*Position*/

.relative-position {
  position: relative;
  width: 100%;
}

.absolute-position {
  position: absolute;
  right: 0;
  left: 0;
}

/*Theme*/
.standard-theme {
  background-color: $B20;
}

.error-theme {
  background-color: $R20;
}

.success-theme {
  background-color: $G20;
}

.warning-theme {
  background-color: $Y20;
}

/*Size*/

.small-size {
  height: 42px;
}

.big-size {
  height: 54px;
}

/*Animations*/
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

.notification-animation-enter {
  transition: all 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  //transition: all 0.4s $easeOutQuint; //TODO - This one doesn't look good
  max-height: 0;

  .label-wrapper {
    transition: all 0.4s $easeOutQuint 0.1s;
    opacity: 0;
    margin-top: -70px;
  }

  .cta-button-wrapper {
    transition: all 0.16s $easeOutQuint 0.2s;
    transform: scale(0.6);
    opacity: 0.5;
  }
}

.notification-animation-enter-active {
  max-height: 500px;

  .label-wrapper {
    opacity: 1;
    margin-top: 0;
  }

  .cta-button-wrapper {
    transform: scale(1);
    opacity: 1;
  }
}

.notification-animation-leave {
  max-height: 500px;

  .label-wrapper {
    opacity: 1;
    margin-top: 0;
  }

  .cta-button-wrapper {
    opacity: 1;
  }

  .close-button-wrapper {
    opacity: 1;
  }
}

.notification-animation-leave-active {
  transition: all 0.25s $easeInOutSine 0.1s;
  max-height: 0;

  .label-wrapper {
    transition: all 0.25s $easeInOutSine;
    opacity: 0.5;
    margin-top: -70px;
  }

  .cta-button-wrapper {
    transition: all 0.12s $easeInOutSine;
    opacity: 0;
  }

  .close-button-wrapper {
    opacity: 0;
  }
}
