[data-hook="story-page-playground"] {
  height: 300px;
}

:global {
  .background-gradient {
    background: #e7e7ff;
    background: -moz-linear-gradient(97deg, #e7e7ff 0%, #ddedff 52%, #ddedff 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #e7e7ff), color-stop(52%, #ddedff), color-stop(100%, #ddedff));
    background: -webkit-linear-gradient(97deg, #e7e7ff 0%, #ddedff 52%, #ddedff 100%);
    background: -o-linear-gradient(97deg, #e7e7ff 0%, #ddedff 52%, #ddedff 100%);
    background: -ms-linear-gradient(97deg, #e7e7ff 0%, #ddedff 52%, #ddedff 100%);
    background: linear-gradient(97deg, #e7e7ff 0%, #ddedff 52%, #ddedff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7ff', endColorstr='#ddedff', GradientType=1 );
  }
}