@import '../common.scss';

.modalContent {
  box-shadow: $Shadow40;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: $D80;
}

.modalBody {
  flex: 1;
  overflow: auto;

  .mainLoaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nextPageLoaderWrapper {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.subheaderWrapper {
  padding: 30px 30px 12px;
}

.emptyStateWrapper,
.noResultsFoundStateWrapper,
.defaultEmptyStateWrapper,
.defaultNoResultsFoundStateWrapper {
  width: 100%;
  height: 100%;
}
.defaultEmptyStateWrapper,
.defaultNoResultsFoundStateWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitleWrapper + .searchWrapper {
  margin-top: 18px;
}
