.drillViewContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}

.drillViewPanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.subMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.openSubMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
}
