:import {
  -st-from: "wix-ui-backoffice/dist/src/colors.st.css";
  -st-named: D60, B50;
}

:import {
  -st-from: '../TableActionCell/TableActionCell.st.css';
  -st-default: TableActionCell;
}

.root {
  -st-states: isRowClickable;
}

.emptyStateContainer {
  padding: 42px;
  border-top: 1px solid value(D60);
}

.root:isRowClickable .tableRow {
  cursor: pointer;
}

.root:isRowClickable .tableRow:hover {
  background-color: value(B50);
}

/*
 * TableActionCell
 */

/* `onHover` HoverSlot */
.tableRow TableActionCell::hoverSlot.onHover {
  visibility: hidden;
}

.tableRow:hover TableActionCell::hoverSlot.onHover {
  visibility: visible;
}

/* `notOnHover` HoverSlot */
.tableRow TableActionCell::hoverSlot.notOnHover {
  visibility: visible;
}

.tableRow:hover TableActionCell::hoverSlot.notOnHover {
  visibility: hidden;
}

/* Placeholder icon */
.tableRow:hover TableActionCell::placeholderIcon {
  display: none;
}
