@import '../common.scss';

.header {
  display: block;
  margin-bottom: 13px;
  font-family: $FontMedium;
  font-size: 16px;
  line-height: 1.3;
}

.label {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
}

.cta {
  display: block;
  font-family: $FontRoman;
  font-size: 20px;
  color: $B10;
}

.info {
  display: block;
  font-family: $FontLight;
  font-size: 16px;
  color: $D30;
  margin-top: 5px;
}

.input {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
