@import '../common.scss';

$content-width: 250px;

.content > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: $content-width;
}

.header {
  display: block;
  margin-bottom: 13px;
  font-family: $FontMedium;
  font-size: 16px;
  line-height: 1.3;
}

.label {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;

  &:hover {
    svg {
      border-radius: 50%;
      background: $B40;
    }
  }
}

.cta {
  font-family: $FontRoman;
  font-size: 20px;
  color: $B10;
}

.info {
  font-family: $FontLight;
  font-size: 16px;
  color: $D30;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.icon {
  margin-right: 10px;
  color: $B10;
  padding-top: 3px;
}

.error {
  font-family: $FontLight;
  font-size: 16px;
  color: $R10;
}
