@import '../common.scss';
@import '../Input/InputMixins.scss';
@import '../typography-helpers.scss';

$errorColor: #f2564d;
$statusColor: $D40;
$disabledColor: $D55;

.root {
  position: relative;
  align-items: center;
  @include BoxSizing();
  @include FontRoman();

  .nbinput, input, .label + div {
    padding-left: 0;
    padding-right: 0;
  }

  .nbinput, input {
    opacity: 0;
    height: 36px;
    @include FontRoman();
    @include Placeholder($D55);
  }

  .message {
    font-size: 12px;
    line-height: 18px;
  }

  .errorMessage {
    color: $errorColor;
  }

  .label {
    @include Text($weight: normal, $size: medium, $secondary: true, $light: true);

    transition:all .2s ease-in-out;
    position: absolute;
    top: 6px;
    padding: 0;
    color: $statusColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &.size-normal {
    padding-bottom: 4px;
    @include Size($height: 24px, $fontSize: 16px);
  }

  &.size-small {
    padding-bottom: 4px;
    @include Size($height: 18px, $fontSize: 14px);

    .label {
      font-size: 14px;
    }
  }

  &.hasFocus,
  &.hasValue,
  &.noLabel {
    .nbinput, input {
      border-bottom: 0;
      transition: opacity .3s ease-in-out;	
      opacity: 1;
    }

    .activationIndicator {
      &:before, &:after {
        height: 1px;
        background-color: $B10;
      }
    }
    .label {
      @include Text($weight: normal, $size: tiny, $secondary: true, $light: true);
      top: -12px;
    }
  }

  .activationIndicator {
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 1px;
    background: transparent;
    &:before, &:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: transparent;
      transition: 0.3s all;
    }
    transition: 0.3s ease all;
  }
  @at-root {
    .hasFocus .activationIndicatorActive:before,
    .hasFocus .activationIndicatorActive:after {
      width:100%;
    }
    &.disabled {
      .label, .input {
        color: $disabledColor;
      }
    }
  }

  &:hover:not(.disabled) {
    .activationIndicator, .input:hover ~ .activationIndicatorActive, .input.hasHover ~ .activationIndicatorActive {
      transition: 0.3s ease all;
      background: $D60;
    }
  }

  &.hasError {
    .activationIndicator,
    .input:hover ~ .activationIndicatorActive,
    .input.hasHover ~ .activationIndicatorActive {
      background: $errorColor;
    }

    &:hover:not(.disabled) {
      .activationIndicator, .input:hover ~ .activationIndicatorActive, .input.hasHover ~ .activationIndicatorActive {
        background: $errorColor;
      }
    }

    &.hasFocus {
      .activationIndicator {
        &:before, &:after {
          background: $errorColor;
        }
      }
    }
  }
}
