@import '../../../common.scss';

$padding-horizontal: 30px;
$padding-vertical: 14px;

.navigation {
  margin-bottom: auto;
  overflow: auto;
  flex: 1;
  flex-basis: 0;
}

.link-base {
  display: block;
  padding: $padding-vertical $padding-horizontal;
  transition: .2s ease all;
  color: $D80;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  line-height: 14px;
}

.linkLayout {
  position: relative;
  display: block;

  &.linkDisabled {
    background: transparent !important;
    a {
      pointer-events: none;
      color: $D80 !important;
      opacity: 0.45;
      background: transparent !important;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;

    .linkArrow {
      opacity: 100;
    }
  }

  &:hover,
  &:hover a {
    color: #9fd8fc;
  }

  &:hover:not(.linkActive),
  &:focus:not(.linkActive),
  &:hover:not(.linkActive) a,
  &:focus:not(.linkActive) a {
    background: #33566f;
    transition: 0.3s;
  }

  &.linkDiminishedHover:hover,
  &.linkDiminishedHover:hover a {
    background: transparent;
    color: $B20;
  }

  &.linkDiminishedHover:focus,
  &.linkDiminishedHover:focus a {
    background: transparent;
  }
}

.linkLayout, .linkLayout a {
  font-family: $FontRoman;
  color: $D80;
}

.linkLayout a {
  @extend .link-base;
}

.linkActive a {
  color: #9fd8fc;
  background: #2A4F68;
  transition: 0.3s;
}

.linkArrow {
  position: absolute;
  right: 25px;
  top: 16px;
  opacity: 0;
  font-size: 10px;
  transition: 0.5s;
}

:global(.rtl) {
  .linkArrow {
    right: inherit;
    left: 25px;
  }
}

.separator {
  margin: 20px $padding-horizontal;
  border-bottom: 1px solid $D30;
}

.backLink {
  @extend .link-base;
  font-family: $FontMedium;
  position: relative;
  margin-bottom: 36px;
  margin-top: 21px;

  &:hover {
    color: $D80;

    .backArrow {
      margin-right: 15px;
      margin-left: -5px;
    }
  }
}

.backArrow {
  font-size: 10px;
  margin-right: 10px;
  transition: 0.5s;
}

.categoryLabel {
  font-size: 12px;
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  font-family: $FontMedium;
  line-height: 14px;
  padding: $padding-vertical $padding-horizontal;
}

.linkBadge {
  content: '';
  vertical-align: top;
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  background: #fb7d33;
  border-radius: 50%;
  position: absolute;
  background-clip:content-box;
  padding: 17px 26px;
  top: 0;
  right:0;


}
