@import '../common.scss';

.menu {
  margin: 0;
  padding: 9px 0;
  list-style-type: none;

  :global(.rtl) & {
    text-align: right;
  }

  &.large {
    padding: 12px 0;
  }
}

.placementTop {
  padding: 9px 0 15px 0;
}

.placementBottom {
  padding: 15px 0 9px 0;
}
