@import '../common.scss';

.menu {
	padding: 0;
	list-style-type: none;

	:global(.ltr) &, & {
		text-align: left;
	}

	:global(.rtl) & {
		text-align: right;
	}
}

.topPlacement {
	margin: 0 -6px 8px -6px;
}
.rightPlacement {
	margin: 0 -6px 0 0px;
}
.bottomPlacement {
	margin: 8px -6px 0 -6px;
}
.leftPlacement {
	margin: 0 0 0 -6px;
}
