@import '../common.scss';

.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;

	:global(.ltr) &, & {
		text-align: left;
		margin-right: 6px;
		margin-left: 0;
	}

	:global(.rtl) & {
		text-align: right;
		margin-left: 6px;
		margin-right: 0;
	}
}
