@import '../common';

.input {
  min-width: 30px;
  flex-grow:1;
}

// Override <Input>'s default focus style
.input div {
  border-color: transparent !important;
  box-shadow: none !important;
}

.input div:hover {
  background-color: transparent !important;
}

.emptyInput {
  width: 100%;
}

.readOnly, .readOnly input {
  cursor: pointer;
}

.readOnly {
  position: relative;
  padding-right: 55px;
}

.inputSuffix {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  box-sizing: border-box;
}

.hiddenDiv {
  @include FontRoman();
  visibility: hidden;
  padding: 0 12px;
  white-space: pre;
  height: 0;
}

.tag {
  margin-left: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.inputWithTagsContainer {
  width: 100%;
  @include FontThin();
  border: 1px solid $B30;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $D30;
  font-size: 16px;
  overflow-y: hidden;
  box-sizing: border-box;

  &:hover:not(.hasFocus) {
    background: $B50;
  }
}

.hasMaxHeight {
  overflow-y: auto;
}

.error {
  border-color: $paletteR1;
  position: relative;
  padding-right: 55px;
}

.disabled {
  border-color: $D55;
}

.hasFocus {
  border-color: $B20;

  @include FocusBox;

  &.error {
    @include FocusBoxError;
  }
}

.tagsContainer {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;

  .draggedTag {
    background-color: transparentize($B30, 0.2);
  }

  .draggedTagPlaceholder {
    background-color: $D60;

    &:hover {
      background-color: $D60
    }

    * {
      visibility: hidden;
    }
  }
}

