@import '../common';

.input {
  min-width: 30px;
}

.hiddenDiv {
  @include FontRoman();
  visibility: hidden;
  padding: 0 12px;
  white-space: pre;
  height: 0;
}

.tagsContainer {
  width: 100%;
  @include FontThin();
  border: 1px solid $B30;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $D30;
  font-size: 16px;
  overflow-y: hidden;
}

.hasMaxHeight {
  overflow-y: scroll;
}

.tagsContainer div {
  border: none !important;
}

.tagsContainer div:hover {
  background-color: transparent;
}

.error {
  border-color: $paletteR1;
}

.disabled {
  border-color: $D55;
}

.hasFocus {
  border-color: $B20;
}
