@import '../../common';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #375b74;
}

.in-flex {
  height: auto;
  flex-grow: 1;
}

.logo {
  display: flex;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  color: $D80;
}

.clickable {
  cursor: pointer;
}

.promotion {
  padding: 1em 0;
  margin-top: auto;
  text-align: center;
}

