@import '../../common.scss';

.label {
  margin-bottom: 6px;
}

.inputs{
  display: flex;
}

.hasFocus {
  .firstinput {
    border-right: 1px solid $B20;
  }
}

.firstinput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
}

.lastinput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  width: 50%;
}
