@import '../../common.scss';

.icon {
	svg {
		vertical-align: middle;
	}
}

.text {
	vertical-align: middle;

	:global(.ltr) &, & {
		margin-left: 6px;
		margin-right: 0;
	}

	:global(.rtl) & {
		margin-right: 6px;
		margin-left: 0;
	}

	:global(.ltr) .icon + &, .icon + & {
		margin-left: 12px;
		margin-right: 0;
	}

	:global(.rtl) .icon + & {
		margin-right: 12px;
		margin-left: 0;
	}
}

.menuItem {
	& + & {
		margin-top: 6px;
	}
}

.button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
	outline: none;

	&:hover {
		color: $B10;
	}
}
