@import '../colors.scss';

.full-size {
  width: 66%;
  height: 100%;
}

.images-container-layout {
  @extend .full-size;
  margin: 0 auto;
}

.loader {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $paletteB5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  display: inline-block;
}

.slider-container {
  position: relative;
}

.slider-container[data-is-loading="true"] {
  display: none;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: $B40;
  border-radius: 6px;
  margin: 0 6px;

  &[data-active="true"] {
    background-color: $B10;
  }
}

.dot-navigator {
  color: transparent
}



