@import '../colors.scss';

.full-size {
  width: 100%;
  height: 100%;
}

.carousel {
  @extend .full-size;
  display: flex;
  flex-direction: column;
}

.gallery {
  @extend .full-size;
  display: flex;
}

.images-container {
  @extend .full-size;
  overflow: hidden;
  position: relative;
}

.images-container[data-is-loading="true"] {
  display: none;
}

.images-and-buttons-container {
  @extend .full-size;
}

.images-container-layout {
  @extend .full-size;
  margin: 0 24px;
}

.pagination-layout {
  margin-top: 24px;
}

.image-container {
  transition: 2000ms cubic-bezier(0.77, 0, 0.175, 1);
  visibility: hidden;

  &.active {
    visibility: visible;
    transform: translateX(0);
  }

  &.prev {
    visibility: hidden;
    transform: translateX(-100%);
  }

  &.next {
    visibility: hidden;
    transform: translateX(100%);
  }
}

.image {
  position: absolute;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $paletteB5;
  display: flex;
  justify-content: center;
  align-items: center;
}
