.full-size {
  width: 100%;
  height: 100%;
}

.carousel {
  @extend .full-size;
  display: flex;
  flex-direction: column;
}

.gallery {
  @extend .full-size;
  display: flex;
}

.images-container {
  @extend .full-size;
  position: relative;
  display: flex;
}

.images-container-layout {
  @extend .full-size;
  margin: 0 24px;
  position: relative;
  overflow: hidden;
}

.pagination-layout {
  margin-top: 24px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
