.root {
  width: 100%;
  display: flex;
  .input {
    flex: 1;
    &.date-from {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.date-to {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
