.root {
  width: 100%;
  display: flex;
  .date-input {
    flex: 1;
    &:nth-child(1){
      margin-right: -1px;
      .input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:nth-child(2){
      .input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

