@import './_variables';

:export {
  barWidth: $bar-width;
}

.funnel {
  display: flex;

  height: 150px;

  justify-content: space-between;
  justify-items: flex-end;
  &Empty {
    text-align: center;
  }
}

.funnelItem {
  position: relative;
  z-index: 1;

  width: #{$bar-width}px;

  background: $color-B40;
}

.funnelItemFilled {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0;

  background: $color-B05;
}

.funnelStepWrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  flex-grow: 1;
}

.funnelStepWrapperZeroValue {
  .funnelStepPlaceholder {
    transform: translate(-1px, 0px);
  }

  .funnelStepRotated {
    transform: translateY(-1px);
  }
}

.funnelStepWrapperZeroDelta {
  .funnelStep {
    border-top: 1px solid $color-D55;
  }
}

.badgeZeroDelta {
  top: 100% !important;

  transform: translate(calc(-50% - 12px), calc(-100% - 6px)) !important;
}

.funnelStep {
  box-sizing: border-box;

  background: $color-D70;
}

.funnelStepPlaceholder {
  position: absolute;
  top: 0;
  left: 0;

  width: 102%;

  transform: translate(-1px, 2px);

  background: $color-D70;

  clip-path: polygon(0 0, 0 100%, 102% 100%);
}

.funnelStepRotated {
  width: 102%;

  transform: translateY(1px);

  background: $color-D55;

  clip-path: polygon(0 0, 0 100%, 102% 100%);
}

.funnelLabelList {
  display: flex;

  justify-content: space-between;
}
