@import '../common.scss';
@import '../Typography/Typography.scss';

.suffix {
    padding: 0 0 0 10px;
}

.prefix {
    padding: 0 10px 0 0;
}

.button {
    $height: 36px;
    height: $height;
    border-radius: $height / 2;
    padding: 0 23px;

    &.transparent {
        padding: 0px 24px;
    }

    &.close-standard, &.close-dark, &.close-transparent {
        $closeHeight: 18px;
        height: $closeHeight;
        width: $closeHeight;
        border-radius: $closeHeight / 2;
        padding: 0;
    }

    &.icon-greybackground, &.icon-standard, &.icon-standardsecondary, &.icon-white, &.icon-whitesecondary {
        width: $height;
        height: $height;
        border-radius: $height / 2;
        padding: 0;
    }

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    outline: none;

    transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear;
}

.button>.inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button>.inner, .button>div, .button>.inner>div {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}


.heightsmall {
    $height: 30px;
    height: $height;
    border-radius: $height / 2;
    padding: 0px 17px;

    &.transparent {
        padding: 0px 18px;
    }

    &.icon-greybackground, &.icon-standard, &.icon-standardsecondary, &.icon-white, &.icon-whitesecondary {
        width: $height;
        height: $height;
        border-radius: $height / 2;
        padding: 0;
    }
}

.heightlarge {
    $height: 42px;
    height: $height;
    border-radius: $height / 2;
    padding: 0px 29px;

    &.transparent {
        padding: 0px 30px;
    }

    &.close-standard, &.close-dark, &.close-transparent {
        $closeHeight: 24px;
        height: $closeHeight;
        width: $closeHeight;
        border-radius: $closeHeight / 2;
        padding: 0;
    }
}

.fullblue,
.icon-standard {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $B10;
    border-color: $B10;
}

.fullpurple {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $P10;
    border-color: $P10;
}

.fullgreen {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $G10;
    border-color: $G10;
}

.fullred {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $R10;
    border-color: $R10;
}

.emptygreen {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }
    color: $G10;

    background-color: $D80;
    border-color: $G10;
}

.emptyred {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }
    color: $R00;

    background-color: transparent;
    border-color: $R10;
}

.emptyblue {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }

    background-color: $D80;
    border-color: #5babef;
}

.emptypurple {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }
    color: $P00;

    background-color: transparent;
    border-color: $P10;
}

.close-transparent,
.transparent {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: rgba($D10, 0.12);
    border: 0;
}

.transparentblue,
.icon-standardsecondary {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }

    background-color: transparent;
    border-color: $B10;
}

.emptybluesecondary,
.icon-greybackground,
.whiteblueprimary,
.icon-white,
.whiteblue {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }

    background-color: $D80;
    border-color: $D80;
}

.whitebluesecondary,
.icon-whitesecondary {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: transparent;
    border-color: $D80;
}

.close-standard {
    background-color: transparent;
    border-color: transparent;
    color: $B10;
}

.close-dark {
    background-color: transparent;
    border-color: transparent;
    color: $B00;
}

.fullgreen:hover, .fullgreen.hover,
.emptygreen:hover, .emptygreen.hover {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $G20;
    border-color: $G20;
}

.fullred:hover, .fullred.hover,
.emptyred:hover, .emptyred.hover {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $R20;
    border-color: $R20;
}

.icon-greybackground:hover, .icon-greybackground.hover,
.icon-standard:hover, .icon-standard.hover,
.fullblue:hover, .fullblue.hover,
.emptyblue:hover, .emptyblue.hover,
.icon-standardsecondary:hover, .icon-standardsecondary.hover,
.transparentblue:hover, .transparentblue.hover,
.whiteblue:hover, .whiteblue.hover {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $B20;
    border-color: $B20;
}

.icon-whitesecondary:hover, .icon-whitesecondary.hover,
.whitebluesecondary:hover, .whitebluesecondary.hover,
.icon-white:hover, .icon-white.hover,
.whiteblueprimary:hover, .whiteblueprimary.hover,
.emptybluesecondary:hover, .emptybluesecondary.hover {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }

    background-color: $B50;
    border-color: $B50;
}

.transparent:hover, .transparent.hover,
.close-transparent:hover, .close-transparent.hover {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: rgba($D10, 0.18);
}

.emptypurple:hover, .emptypurple.hover,
.fullpurple:hover, .fullpurple.hover {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $P20;
    border-color: $P20;
}

.close-standard:hover, .close-standard.hover,
.close-dark:hover, .close-dark.hover {
    background-color: transparent;
    border-color: transparent;
    color: $B20;
}

.icon-greybackground:active, .icon-greybackground.active,
.icon-standard:active, .icon-standard.active,
.fullblue:active, .fullblue.active,
.icon-standardsecondary:active, .icon-standardsecondary.active,
.transparentblue:active, .transparentblue.active,
.whiteblue:active, .whiteblue.active,
.emptyblue:active, .emptyblue.active {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $B10;
    border-color: $B10;
}

.icon-white:active, .icon-white.active,
.whiteblueprimary:active, .whiteblueprimary.active,
.icon-whitesecondary:active, .icon-whitesecondary.active,
.whitebluesecondary:active, .whitebluesecondary.active {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }

    background-color: $B40;
    border-color: $B40;
}

.emptybluesecondary:active, .emptybluesecondary.active {
    @extend .t1_3;
    &.heightsmall {
      @extend .t3_3;
    }

    background-color: $D80;
    border-color: $D80;
}

.emptypurple:active, .emptypurple.active,
.fullpurple:active, .fullpurple.active {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $P10;
    border-color: $P10;
}

.fullgreen:active, .fullgreen.active,
.emptygreen:active, .emptygreen.active {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $G00;
    border-color: $G00;
}

.fullred:active, .fullred.active,
.emptyred:active, .emptyred.active {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: $R10;
    border-color: $R10;
}

.transparent:active, .transparent.active,
.close-transparent:active, .close-transparent.active {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    background-color: rgba($D10, 0.12);
}

.close-standard:active, .close-standard.active,
.close-dark:active, .close-dark.active {
    background-color: transparent;
    border-color: transparent;
    color: $B10;
}

.button.transparent.disabled,
.button.fullred.disabled,
.button.fullgreen.disabled,
.button.fullpurple.disabled,
.button.icon-greybackground.disabled,
.button.icon-standard.disabled,
.button.fullblue.disabled,
.button.icon-white.disabled,
.button.whiteblueprimary.disabled,
.button.close-transparent.disabled {
    @extend .t1_2;
    &.heightsmall {
      @extend .t3_2;
    }

    pointer-events: none;
    background-color: $D55;
    border-color: $D55;
}

.button.emptyred.disabled,
.button.emptygreen.disabled,
.button.emptybluesecondary.disabled,
.button.emptyblue.disabled,
.button.emptypurple.disabled,
.button.icon-standardsecondary.disabled,
.button.transparentblue.disabled,
.button.whiteblue.disabled,
.button.icon-whitesecondary.disabled,
.button.whitebluesecondary.disabled {
    @extend .t1_4;
    &.heightsmall {
      @extend .t3_4;
    }

    pointer-events: none;
    background-color: transparent;
    border-color: $D55;
}

.button.close-standard.disabled,
.button.close-dark.disabled {
    pointer-events: none;
    background-color: transparent;
    border-color: transparent;
    color: $D55;
}