@import '../common.scss';

@mixin breadcrumbsHover($hoverTextColor, $hoverBackgroundColor) {
  .item:not(.active):not(.disabled):hover {
    border-radius: 100px;
    color: $hoverTextColor;
    background-color: $hoverBackgroundColor;
  }
}

@mixin breadcrumbs($height, $sidePadding) {
  .item {
    display: inline-block;
    height: $height;
    line-height: $height;
    padding: 0 $sidePadding;
  }
}

.large {
  @include breadcrumbs(36px, 14px);
}

.medium {
  @include breadcrumbs(30px, 10px);
}

.onWhiteBackground {
  @include breadcrumbsHover($D30, $B40);
}

.onGrayBackground {
  @include breadcrumbsHover($D30, $D80);
}

.onDarkBackground {
  @include breadcrumbsHover($D60, transparentize($D80, .9));
}

.item:not(.disabled):not(.active) {
  cursor: pointer;
}

.disabled {
  tab-index: -1;
  cursor: default;
}

.itemContainer {
  display: inline-flex;
  align-items: center;
}

.divider {
  display: inline-block;
  width: 6px;
  min-height: 30px;
  margin: 0 8px;
  background: url('../assets/arrow-right-icon.svg') no-repeat 50% 50%;
}

.button {
  background: transparent;
  border: 0;
  padding: 0;

  &:not(.disabled):not(.active) {
    cursor: pointer;
  }
}

.link {
  color: inherit;
  text-decoration: inherit;
}

:global(.rtl) {
  .breadcrumbs {
    direction: rtl;
  }

  .divider {
    transform: rotate(180deg);
  }
}
