:import {
  -st-from: "../Popover/Popover.st.css";
  -st-named: Popover;
}

.root {
  -st-extends: Popover;
}

.root::popoverContent {
  overflow: hidden;

  /* Fix word wrapping issue */
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;

  max-width: 300px;
}
