@import '../common.scss';

.container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 8px;
  box-shadow: $Shadow30;
  overflow: auto;
}
