@import '../common.scss';

.container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;

  max-width: 300px;
  border-radius: 8px;
  box-shadow: $Shadow30;
  overflow: auto;
}
