@import '../common';

.table {
    border-collapse: collapse;
    font-family:HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,sans-serif;
    table-layout: fixed;
    background-color: white;
}

.table th {
  background-color: rgba(240, 243, 247, 0.5);
  text-align: start;
  padding: 5px;
  height: 36px;
  font-size: 12px;
  color: $paletteD3;
  border-top: solid 1px $D60;
}

.table td {
  font-size: 14px;
  color: $paletteD3;
  padding: 9px;
  height: 44px;
  border-bottom: solid 1px $D70;
}

.table td.important {
  font-size: 16px;
  color: $paletteD2;
}

.clickableDataRow {
  cursor: pointer;
}
