.table {
    border-collapse: collapse;
    font-family:HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,sans-serif;
    table-layout: fixed;
    width: 100%;
    background-color: white;
}

.table th {
  background-color: rgba(240, 243, 247, 0.5);
  text-align: start;
  padding: 5px;
  width: 50px;
  height: 36px;
  font-size: 12px;
  color: #7a92a5;
  border-top: solid 1px #dfe5eb;
}

.table td {
  padding: 9px;
  height: 44px;
  width: 100px;
  font-size: 14px;
  color: #7a92a5;
  border-bottom: solid 1px rgba(182, 193, 205, 0.2);
}

.table td.important {
  font-size: 16px;
  color: #2b5672;
}
