@import '../../Typography/Typography.scss';
@import '../Header/Header.scss';

.headerOnlyTitle {
  @extend .header;
  display: flex;
  justify-content: space-between;

  .link {
    position: relative;
    text-align: right;
    top: 2px;
  }
}

.headerTitleSubtitle {
  @extend .headerOnlyTitle;

  .link {
    top: 13px;
  }
}
