 .main {
  display: flex;
  flex-direction: column;
};

.thumb {
  width: 18px;
  height: 18px;
  background-color: green;
  // border-radius: 50%;
}

.thumb2 {
  width: 24px;
  height: 24px;
  background-color: green;
  // float: left;
  // border-radius: 50%;
}

.row {
  display: flex;
}

.thinRow {
  width: 200px;
}
