@import '../common.scss';

.toast
{
    color: white;
}

.toast.blue { background-color: $B20; }
.toast.purple { background-color: $P20; }
.toast.red { background-color: $R20; }
.toast.green { background-color: $G20; }
.toast.yellow { background-color: $Y20; }

$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

.enter
{
    animation: toast-enter 0.4s $easeOutQuint forwards;
    .children{
        animation: children-enter 0.4s $easeOutQuint 0.1s forwards;
    }
    .close{
        animation: close-enter 0.16s $easeOutQuint 0.2s forwards;
    }    
}

.leave
{
    animation: toast-leave 0.25s $easeInOutSine 0.1s forwards;
    .children{
        animation: children-leave 0.25s $easeInOutSine forwards;
    }    
    .close{
        animation: close-leave 0.12s $easeInOutSine forwards;
    }       
}

.toast .children {
    @include FontLight();
    font-size: 16px;
}

/***************** POSITIONS ****************/
.toast.topfixed {
    position: fixed; top:0px; left:0px; width:100%; z-index: 100000;
    display:flex; align-items:center; justify-content: center;
}

/***************** TYPES ****************/
.toast.largebar {
    padding: 18px 0px;
}

.toast.bar {
    padding: 12px 0px;
}

/************** BUTTON ***************/
.toast.bar .button {
  @include FontLight();
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
  cursor:pointer;
  background: transparent;
  border: none;
  padding: 0px;
}

.toast.largebar .button {
  @include FontLight();
  font-size: 16px;
  color: #ffffff;
  cursor:pointer;
  border: none;
  padding: 0px 18px;
  border-radius: 18px;
  position:relative;
  background: transparent;
}

.toast.largebar .button:before {
    content: ' '; position: absolute; left: 0px; top:-6px; 
    bottom: -6px; width: 100%; z-index: -1; border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
}

:global(.rtl) .toast .button {
    margin-right: 15px;
}

:global(.ltr) .toast .button {
    margin-left: 15px;
}

/************** CLOSE BUTTON *************/
.close
{
    cursor: pointer;
    margin: 0px 12px;
    background: none;
    border: none;
    outline: none;
    opacity: 0;
}

.toast .close {
    width: 17px;
    height: 17px;
    padding: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast.largebar .close {
    border: 1px solid rgba(255,255,255,0.3);
}

.toast.bar .close {
    background: rgba(32, 45, 61, 0.2);
}

.toast.bar.red .close:hover { background: $R10; }
.toast.bar.blue .close:hover { background: $B10; }
.toast.bar.purple .close:hover { background: $P10; }
.toast.bar.green .close:hover { background: $G10; }
.toast.bar.yellow .close:hover { background: $O10; }

.toast.red .close path, 
.toast.blue .close path, 
.toast.purple .close path,
.toast.green .close path,
.toast.yellow .close path 
{
    stroke: white;
}

.children {
    transform: translateY(calc(-100% - 12px));
    flex: 1; display:flex; align-items:center; justify-content: center;
}

@keyframes toast-enter {
    0% {
        opacity: 0;
        transform: translateY(-100%);

    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toast-leave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes children-enter {
    0% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes children-leave {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes close-enter {
    0% {
        transform: scale(0.6);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes close-leave {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


