@import '../common.scss';

.vertical
{
  display: flex;
  flex-direction: column;
}

.horizontal
{
  display: flex;
}

.horizontal .radio-wrapper > label, :global(.ltr) .horizontal .radio-wrapper > label
{
  margin-right: 20px;
}

:global(.rtl) .horizontal .radio-wrapper > label
{
  margin-left: 20px;
}

.vertical .radio-wrapper
{
  margin-bottom: 12px;
}

.radio-wrapper
{
  display: flex;
}

.radio-wrapper, .radio-wrapper > *
{
    cursor:pointer;
    box-sizing:border-box;
}

.radio-wrapper > input
{
    display: none;
}

.radio-wrapper > label
{
    display: flex;
}

:global(.ltr) .radio-wrapper > label {
    flex-direction: row;
}

:global(.rtl) .radio-wrapper > label {
    flex-direction: row-reverse;
}

.radio-wrapper > label.vcenter
{
    align-items: center;
}

.radio-wrapper > label.vtop
{
    align-items: top;
}

.horizontal .children, :global(.ltr) .horizontal .children
{
    padding-left: 6px;
}

.children, :global(.ltr) .children
{
    padding-left: 12px;
}

:global(.rtl) .children
{
    padding-right: 12px;
}

.radio
{
    box-sizing: border-box;
    display: inline-block;
    position:relative;
    width: 17px;
    height: 17px;
    border: 1px solid $B10;
    border-radius: 50%;
}

.radio.checked:after
{
    content:' ';
    display: block;
    border-radius: 50%;
    background-color: $B10;
    width: 11px;
    height: 11px;
    top:0px;
    left:0px;
    margin:2px;
}

.radio:hover
{
  background-color: $B50;
}

.radio.disabled
{
   border-color: $GR20;
   background-color: $GR30;
}

button {
  border:none;
  background: transparent;
  outline: 0;
  height: 24px;
  border-radius: 4px;
  color: $B10;
  margin-right:7px;

  &:disabled {
    cursor: initial;
    color: $D50;

    &.checked {
      background: $D50;
      color: $D80;

      &:hover {
        background: $D50;
        color: $D80;
      }
    }

    &:hover {
      background: initial;
      color: $D50;
    }
  }
  &.checked {
    background: $B10;
    color: $D80;
  }

  &:hover {
    background: $B20;
    color: $D80;
  }
}