.button {
  padding-right: 10px;
}

.buttons_holder {
  display: flex;
  width: 600px;
}

.dropdown_a {
  width: 200px;
}

.dropdown_b {
  padding-left: 100px;
  width: 350px;
}

.dropdown_c {
  padding-left: 300px;
  width: 300px;
}