@import './../colors.scss';

.item {
  box-sizing: border-box;
  user-select: none;
}

.itemPlaceholder {
  border: 1px solid transparent;
  background-color: $B40;
  color: transparent;
  cursor: -webkit-grabbing;
}

.itemPreview {}

.list {
  position: relative;
  display: inline-block;
}