@import '../../../src/common.scss';

.option {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form {
  display: flex;
  align-items: top;
  padding: 20px;
}

.input { width: 60%; }
.output {
  width: 35%;
  background-color: $GR30;
}
