.icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 30px;
  font-size: 18px;
  box-sizing: border-box;
}

.single-icon-view {
  width: 25%;
  display: inline-block;
  margin: 5px 0;
}

.icon-name {
  margin-left: 10px;
}

:global(.rtl) {
  .single-icon-view svg {
    transform: scaleX(-1);
  }
}
