@import '../../src/common';

$page-margin: 48px;
$page-background-color: rgba($D70,.95);

.page {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  position: relative;
  background-color: $page-background-color;
}

.page-header-container {
  padding-top: 30px;
  position: absolute;
  z-index: 2;
  min-height: 30px;
  transition: padding .2s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  right: 0;
    
  &.minimized {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &.with-background-color {
    background-color: $page-background-color;
  }

  &.without-bottom-padding {
    padding-bottom: 0;
  }
}

.page-header {
  padding: 0 $page-margin;
  margin: 0 auto;
}

.tail {
  background-color: transparent;
  padding: 24px $page-margin 0;
  transition: padding .2s cubic-bezier(0.4, 0.0, 0.2, 1);  
  margin: 0 auto;

  &.minimized {
    padding-top: 0;
  }
}

.scrollable-content {
  overflow: auto;
  width: 100%;
  position: relative;
}

.image-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.gradient-background {
  position: absolute;
  top: 0;
  width: 100%;
}

.image-background-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($D10, 0.36);
}

.content {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 0 $page-margin;
}