.googleFooter {
  height: 40px;
  border-top: 1px solid #f1f1f1;
  background: url('../assets/powered_by_google.png') no-repeat;
  background-position: calc(100% - 14px) 50%;
  background-size: auto 47%;
}
