@import '../../colors';

.example-container {
  min-width: 966px;
  max-width: 1254px;
  padding: 30px 48px;

  background: $D70;
}

.greyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: $D70;
}
