// TODO: aggresively refactor, this file generates a lot of repetitive
// selectors and bloats css bundle

@import '../common';
@import '../common/Focusable/Focusable';
@import '../typography-helpers';

$base-transition: all 100ms linear;

.button {
  $height: 36px;
  height: $height;
  border-radius: $height / 2;
  padding: 0 23px;

  &.transparent {
    padding: 0px 24px;
  }

  &.close-standard,
  &.close-dark,
  &.close-transparent {
    $closeHeight: 18px;
    height: $closeHeight;
    width: $closeHeight;
    border-radius: $closeHeight / 2;
    padding: 0;
  }

  &.icon-greybackground,
  &.icon-standard,
  &.icon-standardsecondary,
  &.icon-white,
  &.icon-whitesecondary {
    width: $height;
    height: $height;
    border-radius: $height / 2;
    padding: 0;
  }

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  outline: none;

  transition: $base-transition;

  &#{$focusable-focus-visible} {
    box-shadow: 0 0 0 3px $F00;
  }

  /* HEIGHT */
  @include TextSizeAndFontFamily($size: medium, $weight: normal);

}

.heightx-large {
  font-size: 20px;
}

.heightsmall {
  @include TextSizeAndFontFamily($size: small, $weight: normal);
}

.heightx-small {
  @include TextSizeAndFontFamily($size: tiny, $weight: normal);
  line-height: 18px; /* tiny text has line-height:15 which is a problem centering */
}

.button>.inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.button>.inner,
.button>div,
.button>.inner>div {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.heightsmall {
  $height: 30px;
  height: $height;
  border-radius: $height / 2;
  padding: 0px 17px;

  &.transparent {
    padding: 0px 18px;
  }

  &.icon-greybackground,
  &.icon-standard,
  &.icon-standardsecondary,
  &.icon-white,
  &.icon-whitesecondary {
    width: $height;
    height: $height;
    border-radius: $height / 2;
    padding: 0;
  }
}

.heightx-small {
  $height: 24px;
  height: $height;
  border-radius: $height / 2;
  padding: 0px 11px;

  &.transparent {
    padding: 0px 12px;
  }

  &.icon-greybackground,
  &.icon-standard,
  &.icon-standardsecondary,
  &.icon-white,
  &.icon-whitesecondary {
    width: $height;
    height: $height;
    border-radius: $height / 2;
    padding: 0;
  }
}

.heightlarge {
  $height: 42px;
  height: $height;
  border-radius: $height / 2;
  padding: 0 29px;

  &.transparent {
    padding: 0 30px;
  }

  &.icon-greybackground,
  &.icon-standard,
  &.icon-standardsecondary,
  &.icon-white,
  &.icon-whitesecondary {
    width: $height;
    height: $height;
    border-radius: $height / 2;
    padding: 0;
  }

  &.close-standard,
  &.close-dark,
  &.close-transparent {
    $closeHeight: 24px;
    height: $closeHeight;
    width: $closeHeight;
    border-radius: $closeHeight / 2;
    padding: 0;
  }
}

.heightx-large {
  $height: 54px;
  height: $height;
  border-radius: $height / 2;
  padding: 0px 35px;
  font-size: 20px;

  &.transparent {
    padding: 0px 30px;
  }

  &.close-standard,
  &.close-dark,
  &.close-transparent {
    $closeHeight: 26px;
    height: $closeHeight;
    width: $closeHeight;
    border-radius: $closeHeight / 2;
    padding: 0;
  }
}

.fullblue,
.icon-standard {
  @include TextColor($light: true);

  background-color: $B10;
  border-color: $B10;
}

.login {
  border-radius: 24px;
  height: 42px;
  font-size: 16px;
  background-color: $B10;
  border-color: $B10;
  color: #fff;
  min-width: 100px;
}

.fullpurple {
  @include TextColor($light: true);

  background-color: $P10;
  border-color: $P10;
}

.fullgreen {
  @include TextColor($light: true);

  background-color: $G10;
  border-color: $G10;
}

.fullred {
  @include TextColor($light: true);

  background-color: $R10;
  border-color: $R10;
}

.emptygreen {
  @include TextColor($skin: success);

  background-color: $D80;
  border-color: $G10;
}

.emptyred {
  color: $R00;

  background-color: transparent;
  border-color: $R10;
}

.emptyblue {
  @include TextColor($link: true);

  background-color: $D80;
  border-color: #5babef;
}

.emptylogin {
  border-radius: 24px;
  height: 42px;
  font-size: 16px;
  background-color: $D80;
  border-color: #5babef;
  color: $B10;
  min-width: 100px;
}

.emptypurple {
  color: $P00;

  background-color: transparent;
  border-color: $P10;
}

.close-transparent,
.transparent {
  @include TextColor($light: true);

  background-color: rgba($D10, 0.24);
  border: 0;
}

.transparentblue,
.icon-standardsecondary {
  @include TextColor($link: true);

  background-color: transparent;
  border-color: $B10;
}

.emptybluesecondary,
.icon-greybackground,
.whiteblueprimary,
.icon-white,
.whiteblue {
  @include TextColor($link: true);

  background-color: $D80;
  border-color: $D80;
}

.whitebluesecondary,
.icon-whitesecondary {
  @include TextColor($light: true);

  background-color: transparent;
  border-color: $D80;
}

.close-standard {
  background-color: transparent;
  border-color: transparent;
  color: $B10;
}

.close-dark {
  background-color: transparent;
  border-color: transparent;
  color: $D10;
}

.fullgreen:hover,
.fullgreen.hover,
.emptygreen:hover,
.emptygreen.hover {
  @include TextColor($light: true);

  background-color: $G20;
  border-color: $G20;
}

.fullred:hover,
.fullred.hover,
.emptyred:hover,
.emptyred.hover {
  @include TextColor($light: true);

  background-color: $R20;
  border-color: $R20;
}

.icon-greybackground:hover,
.icon-greybackground.hover,
.icon-standard:hover,
.icon-standard.hover,
.fullblue:hover,
.fullblue.hover,
.emptyblue:hover,
.emptyblue.hover,
.icon-standardsecondary:hover,
.icon-standardsecondary.hover,
.transparentblue:hover,
.transparentblue.hover,
.whiteblue:hover,
.whiteblue.hover {
  @include TextColor($light: true);

  background-color: $B20;
  border-color: $B20;
}

.login:hover, .login.hover {
  background-color: $B20;
  border-color: $B20;
}

.emptylogin:hover, .emptylogin.hover {
  background-color: #5babef;
  color: #fff;
}

.icon-whitesecondary:hover,
.icon-whitesecondary.hover,
.whitebluesecondary:hover,
.whitebluesecondary.hover,
.icon-white:hover,
.icon-white.hover,
.whiteblueprimary:hover,
.whiteblueprimary.hover,
.emptybluesecondary:hover,
.emptybluesecondary.hover {
  @include TextColor($link: true);

  background-color: $B50;
  border-color: $B50;
}

.transparent:hover,
.transparent.hover,
.close-transparent:hover,
.close-transparent.hover {
  @include TextColor($light: true);

  background-color: rgba($D10, 0.3);
}

.emptypurple:hover,
.emptypurple.hover,
.fullpurple:hover,
.fullpurple.hover {
  @include TextColor($light: true);

  background-color: $P20;
  border-color: $P20;
}

.close-standard:hover,
.close-standard.hover {
  background-color: transparent;
  border-color: transparent;
  color: $B20;
}

.close-dark:hover,
.close-dark.hover {
  background-color: transparent;
  border-color: transparent;
  color: $D20;
}

.icon-greybackground:active,
.icon-greybackground.active,
.icon-standard:active,
.icon-standard.active,
.fullblue:active,
.fullblue.active,
.icon-standardsecondary:active,
.icon-standardsecondary.active,
.transparentblue:active,
.transparentblue.active,
.whiteblue:active,
.whiteblue.active,
.emptyblue:active,
.emptyblue.active {
  @include TextColor($light: true);

  background-color: $B10;
  border-color: $B10;
}

.login:active,
.login.active {
  background-color: $B10;
  border-color: $B10;
}

.emptylogin:active,
.emptylogin.active {
  color: #fff;
  background-color: #5babef;
}

.icon-white:active,
.icon-white.active,
.whiteblueprimary:active,
.whiteblueprimary.active,
.icon-whitesecondary:active,
.icon-whitesecondary.active,
.whitebluesecondary:active,
.whitebluesecondary.active {
  @include TextColor($link: true);

  background-color: $B40;
  border-color: $B40;
}

.emptybluesecondary:active,
.emptybluesecondary.active {
  @include TextColor($link: true);

  background-color: $D80;
  border-color: $D80;
}

.emptypurple:active,
.emptypurple.active,
.fullpurple:active,
.fullpurple.active {
  @include TextColor($light: true);

  background-color: $P10;
  border-color: $P10;
}

.fullgreen:active,
.fullgreen.active,
.emptygreen:active,
.emptygreen.active {
  @include TextColor($light: true);

  background-color: $G00;
  border-color: $G00;
}

.fullred:active,
.fullred.active,
.emptyred:active,
.emptyred.active {
  @include TextColor($light: true);

  background-color: $R10;
  border-color: $R10;
}

.transparent:active,
.transparent.active,
.close-transparent:active,
.close-transparent.active {
  @include TextColor($light: true);

  background-color: rgba($D10, 0.36);
}

.close-standard:active,
.close-standard.active {
  background-color: transparent;
  border-color: transparent;
  color: $B10;
}

.close-dark:active,
.close-dark.active {
  background-color: transparent;
  border-color: transparent;
  color: $D10;
}

.button.no-border.disabled,
.button.dark-no-border.disabled,
.button.transparent.disabled,
.button.fullred.disabled,
.button.fullgreen.disabled,
.button.fullpurple.disabled,
.button.icon-greybackground.disabled,
.button.icon-standard.disabled,
.button.fullblue.disabled,
.button.login.disabled,
.button.emptylogin.disabled,
.button.icon-white.disabled,
.button.whiteblueprimary.disabled,
.button.close-transparent.disabled {
  @include TextColor($light: true);

  cursor: default;
  background-color: $D55;
  border-color: $D55;
}

.button.emptyred.disabled,
.button.emptygreen.disabled,
.button.emptybluesecondary.disabled,
.button.emptyblue.disabled,
.button.emptypurple.disabled,
.button.icon-standardsecondary.disabled,
.button.transparentblue.disabled,
.button.whiteblue.disabled,
.button.icon-whitesecondary.disabled,
.button.whitebluesecondary.disabled {
  @include Text($size: medium, $weight: normal, $secondary: true, $light: true);

  &.heightsmall,
  &.heightx-small  {
    @include TextColor($secondary: true, $light: true);
  }

  cursor: default;
  background-color: transparent;
  border-color: $D55;
}

.button.close-standard.disabled,
.button.close-dark.disabled {
  cursor: default;
  background-color: transparent;
  border-color: transparent;
  color: $D55;
}

.no-border {
  background: transparent;
  border: none;

  color: $D10;

  &:hover, &.hover {
    color: $B10;
  }

  &.heightsmall,
  &.heightx-small  {
    @include TextColor($secondary: true);
  }
}

.dark-no-border {
  background: transparent;
  border: none;
  color: #fff;

  &:hover {
    color: $B10;
  }

}

.outlined {
  background: transparent;
  border: 1px solid $D40;
  color: $D10;

  &:hover {
    background: $D20;
    border-color: $D20;
    color: $D80;
  }

  &:focus,
  &:active {
    background: $D10;
    border-color: $D10;
    color: $D80;
  }

  &.disabled {
    background: $D55;
    border-color: $D55;
  }
}
