@import '../common.scss';

.filters-wrapper > * {
  display: inline-block;
  margin-left: 10px;
}

.stats-column-wrapper {
  display: flex;

  .stats-column {
    flex: 1;
    width: 0; // Force equal-width columns
    text-align: center;
    border-right: 1px solid $D70;

    &:last-child {
      border-right: none;
    }
  }
}

@include withRTL() {
  .stats-column-wrapper {
    .stats-column {
      &:first-child {
        border-right: none;
      }

      &:last-child {
        border-right: 1px solid $D70;
      }
    }
  }
}
