/* Fonts */
$fonts-fallback: "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif";

$FontUltraThin: "HelveticaNeueW01-UltLt", "HelveticaNeueW02-UltLt", "HelveticaNeueW10-25UltL", $fonts-fallback;
$FontThin: "HelveticaNeueW01-Thin", "HelveticaNeueW02-Thin", "HelveticaNeueW10-35Thin", $fonts-fallback;
$FontLight: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", $fonts-fallback;
$FontRoman: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", $fonts-fallback;
$FontMedium: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", $fonts-fallback;
$FontBold: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", $fonts-fallback;


@mixin FontUltraThin() {
	font-family: $FontUltraThin;
}

@mixin FontThin() {
	font-family: $FontThin;
}
@mixin FontLight() {
	font-family: $FontLight;
}

@mixin FontRoman() {
	font-family: $FontRoman;
}

@mixin FontMedium() {
	font-family: $FontMedium;
}

@mixin FontBold() {
	font-family: $FontBold;
}

/* New swatches! */

$D10: #162d3d;   // Main input text, titles
$D20: #32536A;   // Titles, texts
$D30: #577083;   // Texts
$D40: #7a92a5;   // Dividers, texts
$D50: #b6c1cd;   // Dividers, texts
$D55: #cbd3dc;   // Disabled button - new version - naming not final
$D60: #dfe5eb;   // Dividers
$D70: #f0f4f7;   // Page background, dividers
$D80: #ffffff;   // Content box background

$B00: #2b81cb;   // Buttons
$B05: #308ddd;   // CTA
$B10: #3899ec;   // Main action color, active, buttons
$B20: #4eb7f5;   // Hover for elements with B10, buttons
$B25: #A1D7FB;
$B27: #b3e0fb;
$B30: #c1e4fe;   // Notifications
$B40: #daeffe;   // Dividers, table selected
$B50: #eaf7ff;   // Dividers
$B60: #f4fafe;   // Table hover

$GR10: #c8c8c8;  // Disabled buttons
$GR20: #dadada;  // Disabled fields
$GR30: #f1f1f1;  // Disabled background
$GR40: #cbd3dc;  // Disabled button - new version - naming not final
$GR50: #eff1f2;
$GR60: #a3abb0;	 // placeholder for InputArea theme="amaterial"

$P00: #8e21b1;
$P10: #aa4dc8;   // Wix premium
$P20: #cd68ed;
$P30: #e5c9ee;
$P40: #eedbf4;

$O00: #ea5f0e;
$O10: #fb7d33;
$O20: #ff9a48;

$R00: #d6453d;
$R05: #d8504c;   // CTA
$R10: #ee5951;   // Errors, CTA hover
$R20: #ff6666;   // Notifications
$R30: #ffd7d7;   // Notifications
$R40: #ffe1e1;

$G00: #44823f;
$G05: #61ad5a;   // CTA
$G10: #60bc57;   // CTA hover
$G20: #80c979;   // Notifications
$G30: #c9eebc;   // Notifications

$Y00: #c68801;
$Y05: #eda200;   // CTA
$Y10: #fdb10c;   // CTA hover
$Y20: #fac249;   // Notifications
$Y30: #fef0ba;   // Notifications
$Y40: #fef4cd;

$WR00: #e05050;  // Wix Restaurant red

$paletteB1  : #3899EC;
$paletteB2  : #4EB7F5;
$paletteB3  : #7FCCF7;
$paletteB4  : #D3EDFF;
$paletteB5  : #EAF7FF;

$paletteD1  : #162D3D;
$paletteD2  : #2B5672;
$paletteD3  : #7A92A5;
$paletteD4  : #D9E1E8;
$paletteD5  : #F0F3F5;
$paletteD6  : #FFFFFF;

$paletteE1  : #2B81CB;
$paletteE2  : #0D487F;
$paletteE3  : rgba(255,255,255,0.96);
$paletteE4  : #2D4150;
$paletteE5  : #B1DDf8;
$paletteE6  : #B6C1CD;
$paletteE7  : #5EFFFF;
$paletteE8  : #18D2DE;

$paletteP1  : #AA4DC8;
$paletteP2  : #BB71D3;
$paletteP3  : #E5C9EE;
$paletteP4  : #EEDBF4;

$paletteG1  : #60BC57;
$paletteG2  : #80C979;
$paletteG3  : #CFEBCC;
$paletteG4  : #DFF2DD;

$paletteO1  : #FB7D33;
$paletteO2  : #FC975C;
$paletteO3  : #FED8C1;
$paletteO4  : #FEE5D6;

$paletteY1  : #FFC233;
$paletteY2  : #FFCE5C;
$paletteY3  : #FFEDC1;
$paletteY4  : #FFF3D6;

$paletteR1  : #EE5951;
$paletteR2  : #F1726B;
$paletteR3  : #FACDCA;
$paletteR4  : #FCE6E5;

$BMCounter  : #F4553F;
