/* 
 * This value is related to current BM z-index values of Header and Sidebar.
 * Sidebar is 2, so Page should be beneeth it.
 */
$zIndex_PAGE: 1;
/* 
 * This value is related to current BM z-index values of Header and Sidebar.
 * Header is 2000, so Modal should be above it.
 * FIXME: Fix zIndex, make it above BM Header.
 */
$zIndex_MODAL: 11;

:export {
  ZIndex_PAGE: $zIndex_PAGE;
  ZIndex_MODAL: $zIndex_MODAL;
}

$z-layers: (
  "PAGE": $zIndex_PAGE,
  "MODAL": $zIndex_MODAL
);

@function zIndex($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}
