/* 
 * This value is related to current BM z-index values of Header and Sidebar.
 * Sidebar is 2, so Page should be beneeth it.
 */
$zIndex_PAGE: 1;
/* 
 * FIXME: Fix zIndex, make it above TOOLTIP.
 */
$zIndex_MODAL: 11;
/* 
 * This value is probably related to current BM header's z-index value.
 * Header is 2000
 * FIXME: Fix zIndex, make it above BM Header.
 */
$zIndex_TOOLTIP: 2000;
