@import '../common.scss';

.wrapper
{
    position: relative;
}

.auto_suggestions_wrapper {
    position: absolute;
    left: 0px;
    top: 38px;
    width: 100%;
    z-index: 100;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.14);
    padding: 9px 0px;

    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}

.auto_suggestions_wrapper.hidden
{
    display:none;
}

.suggestion {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    overflow: hidden;
    padding: 0px; padding-left: 12px; padding-right: 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include FontRoman();
}

.suggestion.selected,
.suggestion:hover.selected {
    background-color: $B20;
    color: $D80;
}

.suggestion:hover {
    background-color: $B60;
}

:global(.rtl) .suggestion {
    text-align:right;
}
