@import '../common';

@mixin transitionfix() {

}

.container {
  width: 204.7px;
  height: 144px;
  border-radius: 8px;
  background-color: #eaf7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background .2s linear;
  overflow: hidden;

  // This fixes animation bug when border radius doesn't affect on animation
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.dashed-border {
  border: dashed 1px rgba(78, 183, 245, 0.5);
  border-radius: 3px;
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  transform: scale(1);
  transition: transform .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.plus-icon {
  color: rgb(78, 183, 245);
  height: 47px;
  width: 47px;
  position: absolute;
}

.add-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-layout {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-logo-container {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.image-background {
  transition: all 0.1s linear;
  border-radius: 6px;
  background-color: rgba(32, 69, 94, 0);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: auto;
}

.buttons {
  color: white;
  justify-content: center;
  display: flex;
  height: 38%;
  align-items: baseline;
  opacity: 0;
  transition: opacity .1s linear;
}

.button {
  transition: background .1s linear;
  background: rgba(255, 255, 255, 0);
  height: 36px;
  width: 36px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &:first-child {
    margin-right: 20px;
  }
}

.container {

  &.has-logo {
    .add-logo {
      display: none;
    }
  }

  &:hover {
    background-color: $B40;

    .buttons {
      opacity: 1;
    }

    .image {
      transform: scale(1.1);
    }

    .image-background {
      background-color: rgba(32, 69, 94, .8);
    }
  }
}
