.card {
  box-sizing: border-box;
  border-radius: 8px;
  width: 400px;
  height: 45px;
  border: 1px solid #7a92a5;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  user-select: none;

  .handle {
    display: inline-block;
    vertical-align: middle;
    padding-top: 2px;
    width: 20px;
    margin-right: 20px;
    cursor: -webkit-grab;
  }
}

.placeholder {
  border: 1px solid transparent;
  background-color: #daeffe;
  color: transparent;
  cursor: -webkit-grabbing;
}

.preview {
  transform: rotate(5deg);
  background-color: #eaf7ff;
  width: 400px;
  height: 45px;
}
