@import '../common.scss';

.root {
  display: flex;
  position: relative;
}

.required {
  font-size: 22px;
  color: $B20;
  display: inline-block;
  width: 13px;
  line-height: 17px;
  text-align: right;
}

.icon {
  color: $B10;
  position: relative;
  display: inline-block;
  margin-left: 3px;
}
