@import '../common.scss';

.root {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 0;
  min-height: 30px;
}

.button {
  display: flex;
  align-items: center;
  padding: 0 24px 0 18px;

  /* reset default styling */
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;

  &:hover {
    span,
    svg {
      color: $B10;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 6px;

  svg {
    vertical-align: middle;
  }
}

.text {
  margin-left: 6px;
}

.large {
  min-height: 36px;
}
