@import '../common.scss';

.root {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 0;
  min-height: 30px;
}

.button {
  display: flex;
  align-items: center;
  padding: 0 24px 0 18px;

  /* reset default styling */
  margin: 0;
  background: none;
  border: none;
  font: inherit;
  outline: none;

  &:not(:disabled):hover {
    cursor: pointer;

    span,
    svg {
      color: $B10;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
  margin-top: 2px;

  svg {
    vertical-align: middle;
  }
}

.text {
  margin-left: 6px;
  text-align: left;
}

.large {
  min-height: 36px;

  .icon {
    margin-top: 4px;
  }
}

:global(.rtl) {
  .icon {
    margin-left: 6px;
    margin-right: 0;
  }

  .text {
    margin-left: 0;
    margin-right: 6px;
    text-align: right;
  }
}
