@import '../colors';

$DIVIDER: $D60 1px solid;

.root {
  background-color: $D80;
  border-radius: 8px;
  max-width: 775px;
  display: inline-block;
}

.calendarWithPresets {
  display: flex;
}

.presets {
  width: 174px;
  height: 342px;
  box-sizing: border-box;
  padding-top: 18px;
  border-right: $DIVIDER;
}

.calendar {
  *:focus {
    outline: none !important;
  }
}

.footer {
  border-top: $DIVIDER;
}