@import '../common.scss';

.buttons-complex {
  display: flex;
  background-color: $D80;
  width: 756px;
  min-height: 48px;
  border-radius: 8px;
  border: 1px solid black;
  font-family:HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  cursor: pointer;

  span:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  span:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-right: none;
  }
}

.unselected, .selected {
  width: 253px;
  text-align: center;
  padding: 12px 17px 12px 17px;
  border-right: 1px solid black;
}

.selected{
  background-color: $B10;
  color: white;
}

.selected:hover {
  background-color: $B20;
}

.unselected:hover {
  background-color: $B50;
}
