.root {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 40%;
}

.right {
  background: #f6f8fa;
  flex-grow: 1;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  height: 45px;
  & > :first-child {
    width: 150px;
  }
}
