@import '../../../src/common.scss';

.option {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form {
  display: flex;
  align-items: top;
  padding: 20px;
}

.input { width: 60%; }
.output {
  width: 35%;
  background-color: $GR30;
}

.output-lightblue {
  background-color: $D70;
  width: 35%;
}

.output-darkblue {
  background-color: $D10;
  width: 35%;
}

.output-white {
  background-color: $D80;
  width: 35%;
}

.example-wrapper {
  padding: 20px;
}
