@import '../common.scss';
@import './InputMixins.scss';
@import '../typography-helpers.scss';

$gap: 6px;
$double-gap: 12px;
$material-gap: 8px;

.root {
  position: relative;
  display: flex;
  align-items: stretch;
  border: solid 1px;
  border-radius: 6px;
  @include BoxSizing();
  @include FontRoman();
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.input {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 20px;
  padding: 0 $double-gap;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
  @include BorderRadius(6px);
  @include FontRoman();
  @include Placeholder(getTextColor($light: true, $secondary: true));
  @include Selection($paletteB4);

  &[type=number] {
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &.withPrefix { padding-left: 0; }
  &.withSuffix { padding-right: 0; }
  &.withSuffixes { padding-right: $gap; }
}

// Remove IE10+ automatically x button
.input::-ms-clear {
  display: none;
}

// remove safari autofill icon
.input::-webkit-contacts-auto-fill-button {
  display: none !important;
}

.prefixes,
.suffixes {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 0;
  user-select: none !important;
  height: 100%;
}

.prefix,
.suffix {
  height: 100%;
  display: flex;
  align-items: center;

  &:first-child .unit-separator { margin-left: $double-gap; }
  &:last-child .unit { padding-right: $double-gap; }
}

.prefix {
  width: 100%;
}

.prefixSuffixWrapper {
  //needs additional wrapper with display:block to fix inputs with prefix in ie11
  //https://github.com/wix/wix-style-react/issues/1693
  //https://github.com/wix/wix-style-react/issues/1691
  display: block;
  margin-right: 6px;
}

.roundInput {
  &.size-normal {
    @include BorderRadius(18px);
  }
  &.size-small {
    @include BorderRadius(15px);
  }
  &.size-large {
    @include BorderRadius(27px);
  }
}

.noRightBorderRadius {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.noLeftBorderRadius {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.size {
  &-small  { @include Size($height: 30px, $fontSize: 14px); }
  &-small-with-selection { @include Size($height: 28px, $fontSize: 14px); }
  &-normal { @include Size($height: 36px, $fontSize: 16px); }
  &-normal-with-selection { @include Size($height: 34px, $fontSize: 16px); }
  &-large  { @include Size($height: 60px, $fontSize: 22px); }
  &-large-with-selection { @include Size($height: 58px, $fontSize: 22px); }
}

.theme {
  &-normal {
    @include ThemeDefault($color: $D10, $borderColor: $B30, $backgroundColor: $D80);
    @include ThemeHover($backgroundColor: $B50);
    @include ThemeFocus($borderColor: $B10, $boxShadow: 0 0 0 3px $F00);
    @include ThemeError($borderColor: $paletteR1);
    @include ThemeDisable($color: $D55, $borderColor: $D60, $backgroundColor: $D80);
    @include ThemeDisableHover($borderColor: $GR20);
  }
  &-paneltitle {
    @include ThemeDefault($color: white, $borderColor: $B30, $backgroundColor: rgba(22,45,61,0.6));
    @include ThemeHover($backgroundColor: rgba(22,45,61,0.4));
    @include ThemeFocusPanelTile($borderColor: $B20, $boxShadow: inset 0 0 5px 0 rgba(56,153,236,0.6));
    @include ThemeError($borderColor: $paletteR1);
    @include ThemeDisable($color: white, $borderColor: $GR40, $backgroundColor: rgba(22,45,61,0.6));
  }
  &-tags {
    @include ThemeDefault($color: $D10, $borderColor: $B30, $backgroundColor: transparent);
    @include ThemeHover($backgroundColor: $B50);
    @include ThemeFocus($borderColor: transparent, $boxShadow: none);
    @include ThemeError($borderColor: $paletteR1, $boxShadow: inset 0px 0px 5px 0px fade($R10, 60%));
    @include ThemeDisable($color: $D55, $borderColor: $D60, $backgroundColor: $D80);
    @include ThemeDisableHover($borderColor: $GR20);
  }
  &-amaterial {

    .errorIcon {
      padding: 0 6px 16px;
      color: #f2564d;
    }

    border: 0;
    &.size-normal {
      padding-bottom: 4px;
      @include Size($height: 34px, $fontSize: 20px);
    }

    label,
    .input {
      color: #43515c;
    }

    label {
      font-size: 20px;
      transition:all .2s ease-in-out;
      position: absolute;
      top: 2px;
      padding: 0 12px;
    }

    .input {
      @include FontLight();
      opacity: 0;
      z-index: 1;
      transition: border-bottom .3s, border-color .3s, border-width .3s, border .3s, opacity 0s ease-in-out;
      line-height: 1;
      display: block;
      margin-top: 0;

      background: none;
      border-radius: 0;
      border-style: solid; // Firefox fix

      // Fix number inputs in Firefox to be full-width
      width: 100%;
      box-sizing: border-box;
    }

    &.hasFocus,
    &.hasValue {
      .input {
        @include Placeholder($paletteE6);
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }
      input {
        border-bottom: 0;
      }

      .bar {
        &:before, &:after {
          height: 2px;
          background-color: $B10;
        }
      }
      label {
        top: -22px;
        font-size: 14px;
      }
    }

    .bar {
      position: absolute;
      bottom: 0;
      left: -1px;
      right: -1px;
      height: 1px;
      background: $D60;
      &:before, &:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #000;
        transition: 0.3s all;
      }
      transition: 0.3s ease all;
    }
    @at-root {
      .hasFocus .barBlue:before,
      .hasFocus .barBlue:after {
        width:100%;
      }
    }
    &:hover:not(.disabled) {
      .bar, .input:hover ~ .barBlue, .input.hasHover ~ .barBlue {
        background-color: #000;
        transition: 0.3s ease all;
      }
    }

    &.hasError {
      .bar, .input:hover ~ .barBlue, .input.hasHover ~ .barBlue {
        background-color: #f2564d;
        height: 2px;
      }
    }
  }
  &-material {
    border-radius: 0;
    .prefixes,
    .suffixes {
      padding: 0 4px;
    }
    &.size-normal {
      @include Size($height: 34px, $fontSize: 18px);
    }
    .input {
      @include FontLight();
      padding: 0 $material-gap;
    }
    @include ThemeDefault($color: $D10, $borderColor: transparent, $backgroundColor: $D80);
    .bar {
      position: absolute;
      bottom: 0;
      left: -1px;
      right: -1px;
      height: 1px;
      background: $D60;
      &:before, &:after {
        content: '';
        height: 1px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: $D50;
        transition: 0.2s ease all;
      }
      &:before { left: 50%; }
      &:after { right: 50%; }
    }
    @at-root {
      .hasFocus .barBlack:before,
      .hasFocus .bar:after {
        width: 50%;
      }
    }
    &.hasError {
      .bar {
        background: $R05;
        &:before, &:after {
          background: $R05;
        }
      }
    }
  }

  &-flat {
    border: none;
    border-radius: 0;

    &.size-large { @include Size($height: 54px, $fontSize: 20px); }

    &:hover, &.hasFocus { @include ThemeFlat($B20); }
    &:active            { @include ThemeFlat($B10); }
    &.disabled          { @include ThemeFlat($D50); }

    @include ThemeFlat($D20);
  }

  &-flatdark {
    border: none;
    border-radius: 0;

    &.size-large { @include Size($height: 54px, $fontSize: 20px); }

    &:hover, &.hasFocus { @include ThemeFlat($B20); }
    &:active            { @include ThemeFlat($B10); }
    &.disabled          { @include ThemeFlat($D50); }

    @include ThemeFlat($D80);
  }
}

// RTL layout based on global style set on document body or parent element.
:global(.rtl) {
  .root,
  .input-wrapper,
  .prefixes,
  .suffixes { direction: rtl; }
  .input {
    direction: rtl;

    &.withPrefix { padding-right: 0; padding-left: $double-gap; }
    &.withSuffix { padding-left: 0; padding-right: $double-gap; }
  }

  .prefix,
  .suffix {
    &:first-child .unit-separator { margin-right: $double-gap; margin-left: $gap; }
    &:last-child .unit { padding-left: $double-gap; padding-right: $gap; }
  }

  .prefixSuffixWrapper {
    margin-right: 0;
    margin-left: 6px;
  }
}

// RTL layout based on a property passed directly to the component.
.rtl.root {
  direction: rtl;
  .prefixes,
  .suffixes { direction: rtl; }
  .input { direction: rtl; }
}

.magnifying-glass {
  margin: 0 $gap;
  display: flex;
  flex-direction: column;
  justify-content: center;

  path { fill: $B10; }
  line { stroke: $B10; }

  &[disabled] {
    path { fill: $GR40; }
    line { stroke: $GR40; }
  }
}

.exclamation {
  margin: 0 $gap;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  &.narrow{
    margin: 0;
  }

  > svg {
    color: $paletteR1;
    width: 18px;
    height: 18px;
  }
}

.help {
  margin: 0 $gap;
  color: $B20;
  display: flex;
}

:global(.rtl) {
  .help,
  .amaterial-help {
    transform: scaleX(-1);
  }
}

.amaterial-help {
  margin: 0 $gap;
  color: $B20;
  display: flex;
}

.clear-button {
  margin-right: 6px;
  line-height: 0;
  background: $B50;
  border-radius: 12px;
}

.unit {
  padding: 0 $gap;
  color: $paletteD3;
  @include FontLight();
  //needs display:block to fix inputs with prefix in ie11
  //https://github.com/wix/wix-style-react/issues/1691
  display: block;
}

.unit-separator {
  width: 1px;
  margin: 0 $gap;
  background-color: $paletteB4;
  height: 18px;

  @at-root {
    .hasError .unit-separator {
      background-color: $paletteR1;
    }
  }
}

.menu-arrow {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 $double-gap;
  margin-top: 1px;
  path { fill: $B10; }

  &[disabled] {
    path { fill: $GR40; }
    line { stroke: $GR40; }
  }
}

.roundInput .menu-arrow {
  padding: 0 $double-gap;
}

.materialTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @include Text($weight: thin, $size: medium, $secondary: true);

}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 $gap;
}
