@import '../common.scss';

/******* BASIC DEFINITIONS *****/
.input
{
    border: none;
    height: 36px;
    position:relative;
    width: 100%;
}

.input.size-small {
    height: 30px;
    & > input { font-size: 14px; }
    &.error > .exclamation { top: 5px; }
    &.inputWithUnit > .unit:before { top: 6px; }
}

.input.size-large {
    height: 54px;
    & > input { font-size: 16px; }
    &.error > .exclamation { top: 17px; }
    &.inputWithUnit > .unit:before { top: 18px; }
}


.input>input
{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: 1px solid;
    padding: 0px 12px;
    @include FontRoman();
    font-size: 16px;

    line-height: 24px;

    &::-webkit-input-placeholder { color: $paletteE6; }
    &:-moz-placeholder { color: $paletteE6; }
    &::-moz-placeholder { color: $paletteE6; }
    &:-ms-input-placeholder { color: $paletteE6; }

    &::selection { background: $paletteB4; }
    &::-moz-selection { background: $paletteB4; }

    &:focus, &.focus {
        outline: 0;
        border-width: 1px;
    }
}

.icon-left>input {
    padding-left: 42px;
}

:global(.rtl) .input
{
    direction:rtl;
}

/******* STYLE NORMAL ******/
.input.normal>input
{
    border-color: $B30;
    background-color: $D80;
    color: $D10;
}

.input.normal>input:focus,
.input.normal>input.focus
{
    background-color: $D80;
    border-color: $B20;
    box-shadow: inset 0px 0px 5px 0px fade($B10, 60%);
}

.input.normal>input:hover,
.input.normal>input.hover
{
    background-color: $B50;
}

/******* STYLE PANELTITLE ******/
.input.paneltitle>input
{
    background:rgba(22,45,61,0.6);
    color: white;
    border-color: #c1e4fe;
}

.input.paneltitle>input:focus,
.input.paneltitle>input.focus
{
    border-color: #4eb7f5;
    border-width: 1px;
    box-shadow: inset 0 0 5px 0 rgba(56,153,236,0.6);
}

.input.paneltitle>input:hover,
.input.paneltitle>input.hover
{
    background-color: rgba(22,45,61,0.4);
}

/******* UNIT *****/

:global(.ltr) .inputWithUnit>input
{
    padding-right:44px;
}

:global(.rtl) .inputWithUnit>input
{
    padding-left:44px;
}

.inputWithUnit>.unit {
    user-select : none;

    background-color : transparent;
    color            : $paletteD3;
    @include FontLight();
    position         : absolute;
    z-index          : 1;
    height           : 100%;
    display          : flex;
    justify-content  : center;
    align-items      : center;
}

:global(.ltr) .inputWithUnit .unit {
    right : 12px;
    padding-left : 12px;
}

:global(.rtl) .inputWithUnit .unit {
    left : 12px;
    padding-right : 12px;
}

.inputWithUnit>.unit:before {
    content      : '';
    height       : 18px;
    position     : absolute;
    top          : 9px;
}

:global(.ltr) .inputWithUnit>.unit:before {
    border-left : 1px solid $paletteB4;
    left        : 0px;
}

:global(.rtl) .inputWithUnit>.unit:before {
    border-right : 1px solid $paletteB4;
    right        : 0px;
}

.inputWithUnit>.unit:hover {
    cursor : text;
    + input {
        background-color: $paletteB5;
    }
}

/******* ERROR *****/

.input.error:after {
    top: 8px;
    display:block;
}

:global(.ltr) .input.error:after {
    right: 8px;
}

:global(.rtl) .input.error:after {
    left: 8px;
}

.input.error > input {
    border-color: $R10 !important;
    border-width: 1px;
    box-shadow: inset 0px 0px 5px 0px fade($R10, 60%);
}

.input.error > .exclamation {
    position: absolute;
    top: 8px;
    z-index: 2;
    background-color: $paletteR1;
    width: 20px; height: 20px;
    border-radius:50%;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;

    >path {
        stroke: #fff;
    }
}

:global(.ltr) .input.error > .exclamation {
    right:8px;
}

:global(.rtl) .input.error > .exclamation {
    left:8px;
}

:global(.ltr) .input.endpadding > input {
    padding-right: 36px;
}

:global(.rtl) .input.endpadding > input {
    padding-left: 36px;
}

:global(.ltr) .input.inputWithArrow > input {
    padding-right: 24px;
}

:global(.rtl) .input.inputWithArrow > input {
    padding-left: 24px;
}

:global(.ltr) .input.inputWithUnit.endpadding > input {
    padding-right: 76px;
}

:global(.rtl) .input.inputWithUnit.endpadding > input {
    padding-left: 76px;
}

/******* ERROR + UNIT *******/

:global(.ltr) .inputWithUnit.error>.unit:before {
    border-left : 1px solid $paletteR1 !important;
}

:global(.rtl) .inputWithUnit.error>.unit:before {
    border-right : 1px solid $paletteR1 !important;
}

:global(.ltr) .inputWithUnit.error>.exclamation {
    right:45px;
}

:global(.rtl) .inputWithUnit.error>.exclamation {
    left:45px;
}

/******* MENU ARROW*******/
.menu_arrow {
    path {
        fill: $B10;
    }
}

/******* MAGNIFYING GLASS *******/
.magnifying_glass
{
    path {
        fill: $B10;
    }
    line {
        stroke: $B10;
    }
}

/******* CLEAR BUTTON *******/
.clear_button
{
    path {
        stroke: $B10;
    }
    cursor: pointer;
}

:global(.ltr) .clear_button {
    margin-right: 4px;
}

:global(.rtl) .clear_button {
    margin-left: 4px;
}

/********* END POS (m.g. and close) **********/
.end_pos
{
    position: absolute;
    z-index: 1;
    font-size: 18px;
    box-sizing: content-box;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}


:global(.ltr) .end_pos {
    right: 9px;
}

:global(.rtl) .end_pos {
    left: 9px;
}

:global(.ltr) .inputWithUnit .end_pos {
    display: flex;
    right: 45px;
}

:global(.rtl) .inputWithUnit .end_pos {
    display: flex;
    left: 45px;
}

.material {
    input {
        border: 0;
        padding: 0 8px;
        &:focus {
            outline: none;
        }
    }
    .bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: $D60;
        &:before,
        &:after {
            content: '';
            height: 1px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: $D50;
            transition: 0.2s ease all;
        }
        &:before {
            left: 50%;
        }
        &:after {
            right: 50%;
        }
    }
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width:50%;
    }
}
