@mixin BoxSizing($boxSizing: border-box) {
    box-sizing: $boxSizing;
    * { box-sizing: $boxSizing; }
}

@mixin Size($height, $fontSize) {
    height: $height;
    font-size: $fontSize;
    .input {
        display: block;
        line-height: 24px;
        font-size: $fontSize;
    }

    .prefix,
    .suffix {
        height: $height;
    }

}

@mixin ThemeDefault($borderColor, $backgroundColor, $color) {
    border-color: $borderColor;
    background-color: $backgroundColor;
    color: $color;
    .input { color: $color; }
}

@mixin ThemeHover($backgroundColor) {
    &:hover    { background-color: $backgroundColor; }
    &.hasHover { background-color: $backgroundColor; }
}

@mixin ThemeDisable($borderColor, $backgroundColor, $color) {
    &.disabled {
        border-color: $borderColor;
        background-color: $backgroundColor;
        color: $color;
        .input { color: $color; }
    }
}

@mixin ThemeFocus($borderColor, $boxShadow: none) {
    &.hasFocus {
        border-color: $borderColor;
        box-shadow: $boxShadow;
    }
}

@mixin ThemeError($borderColor, $boxShadow: none) {
    &.hasError {
        border-color: $borderColor;
        box-shadow: $boxShadow;
    }
}

@mixin Selection($color) {
    &::selection      { background: $color; }
    &::-moz-selection { background: $color; }
}

@mixin Placeholder($color) {
    &::-webkit-input-placeholder { color: $color; }
    &:-moz-placeholder           { color: $color; }
    &::-moz-placeholder          { color: $color; }
    &:-ms-input-placeholder      { color: $color !important; }
}
