@import '../common.scss';

.badge {
  display: inline-block;
  padding: 0 1em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 2em;
  font-weight: bold;
}

.ellipse { border-radius: 1em; }
.rectangle { border-radius: 0; }

.default { background: $paletteD3; }
.primary { background: $paletteE1; }
.success { background: $paletteG1; }
.info    { background: $paletteE5; }
.warning { background: $paletteY1; }
.danger  { background: $paletteR1; }
.businessManagerCounter {
  background: $BMCounter;
  padding: 0 6px;
  letter-spacing: 0.8px;
  font-size: 11px;
  line-height: 18px;
}

.top    { vertical-align: top;    }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
