@import '../colors';

.root {
  position: relative;
  width: 100%;
  padding: 18px 42px 18px 24px;
  border-radius: 6px;
  border: 1px solid;
  box-sizing: border-box;
}

.title {
  max-width: 420px;
  margin-bottom: 6px;
}

.content {
  max-width: 540px;
}

.close {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 16px;

  &-with-title {
    top: 10px;
    right: 10px;
    margin: 0;
  }

  [dir="rtl"] & {
    right: initial;
    left: 16px;
  }
}

.action {
  padding-top: 1em;
}

/* Themes */
.warning {
  background-color: $Y50;
  border-color: $Y20;
}

.standard {
  background-color: $B50;
  border-color: $B30;
}

.danger {
  background-color: $R50;
  border-color: $R30;
}

.success {
  background-color: $G50;
  border-color: $G30;
}

.premium {
  background-color: $P50;
  border-color: $P30;
}

.preview {
  background-color: $D70;
  border-color: $D50;
}

.experimental-dark {
  background-color: $D10;
  border-color: $D10;
}
